
= link_to "#{inscritos_escuela_periodo_descargar_path(params[:periodo_id])}?escuela_id=#{@escuela.id}", class: 'btn btn-sm btn-outline-success float-right ml-2', target: "_blank" do
	= glyph 'download-alt'
	= glyph 'file'
	X Descargar


%table#dataTable.table.table-sm
	%thead
		%tr
			%th Cédula
			%th Apellidos
			%th Nombres
			%th Escuelas
			%th Plan
			%th Asig. Inscritas
			%th Créditos
			%th C. Aprobados
			%th Total Créditos Plan

	%tbody

		- @inscripciones.each do |ins|
			- est = Estudiante.find ins.estudiante_id
			%tr
				%td= link_to ins.estudiante_id, usuario_path(est.id)
				%td= ins.apellidos
				%td= ins.nombres
				%td= est.escuelas.ids.to_sentence
				-#est.historialplanes.joins(:plan).where("planes.escuela_id = ?", @escuela.id).order('periodo_id DESC').first.plan_id
				- hplan = est.ultimo_plan_de_escuela@escuela.id
				%td= hplan ? hplan.plan_id : "--"
				%td= ins.asignaturas
				%td= ins.total_creditos
				%td= ins.aprobados
				%td= hplan.plan.creditos if hplan


:javascript

	$(document).ready(function() {

		$('#dataTable').DataTable({
			scrollY: 460,
			// pageLength: 100,
			// lengthChange: false,
			paging: false,
			dom: '<"html5buttons"B>lTfgitp',
			buttons: [
				{extend: 'excel', text: "<span class='glyphicon glyphicon-download'></span> Excel", title: `Inscripciones-#{current_periodo.id}-#{@escuela.id}`, className: 'btn btn-sm btn-outline-info'},
				{extend: 'pdf', text: "<span class='glyphicon glyphicon-download'></span> PDF", title: `PDF-Inscripciones-#{current_periodo.id}-#{@escuela.id}`, className: 'btn btn-sm btn-outline-info'} 
			],
			language: 
				{
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
				"sFirst":    "Primero",
				"sLast":     "Último",
				"sNext":     "Siguiente",
				"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			}
		});
	});