%br
.titulo= "Estudiante: #{@estudiante.usuario.descripcion}"
%table
	%tr
		%td= link_to 'Inscribir otro Estudiante', buscar_estudiante_inscripcionsecciones_path, class: 'btn btn-success'

		%td= link_to 'Detalle del Estudiante', usuario_path(@estudiante), class: 'btn btn-outline-primary'

%br
= render partial: '/admin/inscripcionsecciones/tabla_selecciones', locals: {secciones: @secciones, borrar_seleccion: false}
