
.p-2= btn_toggle 'btn-info', 'search', usuario_path(@estudiante.id), "Ir al detalle del usuario", @estudiante.descripcion
%br

= form_tag(inscribir_inscripcionsecciones_path) do
	= render '/admin/secciones/facultad/estructura_nav'
	=hidden_field_tag :id, @estudiante.usuario_id
	%br
	.border.p-3#seleccion
		%h6.titulo= "Selección:"
		= render partial: '/admin/inscripcionsecciones/tabla_selecciones', locals: {escuelas: @escuelas}

		%div{style: 'max-width: 400px; margin: 0 auto 10px;'}= submit_tag 'Confirmar', class: 'btn btn-large btn-block btn-success', 'data-confirm' => '¿Confirma que desea completar la inscripción?', disabled: true, id: 'btn-confirmacion'

:javascript

	function comprobarInscripcion(){
		totalizarCreditos()

		let totalCreditos = document.getElementById('totalCreditosNumero').textContent
		let totalNuevas = document.getElementsByClassName('nuevas').length
		totalCreditos = Number(totalCreditos)
		let btnConfirm = document.getElementById('btn-confirmacion')
		let master = #{current_admin and current_admin.maestros?}
		let limit = #{@creditLimits}
		if(totalNuevas > 0 && (master || (totalCreditos > 0 && totalCreditos < limit))){
			btnConfirm.disabled = false
		}else{
			btnConfirm.disabled = true
		}
	};

	function borrarSeleccion(asig_id) {
		$('.'+asig_id).prop('checked', false)
		$('.tr'+asig_id).remove()
		comprobarInscripcion()
	};

	function insertCell(row, obj) {
		let cell = row.insertCell()
		let content = document.createTextNode(obj)
		cell.appendChild(content)
		return cell
	}

	function writeRow(row, cells){

		for (let elem in cells){
			cell = insertCell(row, cells[elem])
			if (elem == 'cred') {
				cell.setAttribute('class', 'creditos text-right')
			} 
		}

	}

	function colocarTotalCreditos(table){

		newRow = table.insertRow()
		newRow.setAttribute('id', 'trTotalCreditos')
		newRow.setAttribute('class', 'text-right font-weight-bold')
		cell = newRow.insertCell()
		cell.setAttribute('colspan', 7)

		content = document.createTextNode('Total U. Créditos')
		cell.appendChild(content)
		
		cell = newRow.insertCell()
		cell.setAttribute('id', "totalCreditosNumero")
		comprobarInscripcion()

	}

	function totalizarCreditos(){

		let sum = 0 
		let creditos = document.getElementsByClassName('creditos')
		for(var i = 0; i < creditos.length; i++) sum += Number(creditos[i].textContent)
		document.getElementById('totalCreditosNumero').textContent = sum

	}

	function agregarASeleccionas(obj) {

		let auxRow = document.getElementsByClassName('tr'+obj.cells.asig_id)[0]
		if (auxRow !== undefined) auxRow.parentNode.removeChild(auxRow)

		let table = document.getElementById('seleccionadas').getElementsByTagName('tbody')[0]

		let newRow = table.insertRow()
		$('#trTotalCreditos').remove()
		newRow.setAttribute('id', 'tr'+obj.sec.id)
		newRow.setAttribute('class', 'nuevas tr'+obj.cells.asig_id)

		writeRow(newRow, obj.cells)

		cell = newRow.insertCell()
		content = document.getElementById('borrarSeleccion'+obj.cells.asig_id)

		let content2 = content.cloneNode(true)
		cell.appendChild(content2)

		if (obj.select != null) {			
			newRow.cells[2].innerHTML  = obj.select.content
		}else{
			let elem = document.createElement('input')
			elem.name = `[secciones]${obj.sec.id}`
			elem.type = 'hidden'
			elem.value = 'on'
			// document.getElementById('tr'+obj.sec.id).appendChild(elem)

			newRow.appendChild(elem)
		}

		colocarTotalCreditos(table)

	};
