- model_class = TipoEstadoCalificacion
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:descripcion)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @tipo_estado_calificaciones.each do |tipo_estado_calificacion|
      %tr
        %td= tipo_estado_calificacion.id
        %td= tipo_estado_calificacion.descripcion
        %td=l tipo_estado_calificacion.created_at, format: :long
        %td
          = link_to tipo_estado_calificacion_path(tipo_estado_calificacion), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do
            = glyph 'info-sign'
          = link_to edit_tipo_estado_calificacion_path(tipo_estado_calificacion), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          = link_to tipo_estado_calificacion_path(tipo_estado_calificacion), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            = glyph 'remove'

= link_to t('.new', default: t("helpers.links.new")), new_tipo_estado_calificacion_path, class: 'btn btn-primary'
