.border.mt-3.p-3
	%h6 
		Departamento:
		= @profesor.departamento.descripcion

- @secciones = @profesor.secciones.order('periodo_id DESC')
- if @secciones.count > 0
	.border.mt-3.p-3
		%h5= "Secciones (#{@secciones.count}):"
		%table.table.table-bordered.table-striped.table-sm.table-hover{style: "text-align:left;"}
			%thead
				%tr
					%th Descripcion
					%th Departamento
					%th Periodo
			%tbody
				- @secciones.each do |s| 
					%tr
						%td= link_to_if (current_usuario.administrador.mas_altos?), s.descripcion, ver_seccion_admin_principal_admin_path(s.id), class: 'btn btn-sm btn-outline-info'
						%td= s.asignatura.departamento.descripcion
						%td= s.periodo_id
