- @secciones = @profesor.secciones.order('periodo_id DESC')
- @secciones_secundarias = @profesor.secciones_secundarias.order('periodo_id DESC')
.border.mt-3.p-3
	%h6.ml-md-3
		Departamento:
		= @profesor.departamento.descripcion

		- if current_admin and current_admin.maestros?
			= simple_icon_toggle_modal_edit 'Cambiar a Profesor #{@nickname} de Escuela', 'set_profesor'
			= render partial: '/admin/usuarios/set_profesor'

	%hr
	
	#accordion
		- if @secciones_pendientes.count > 0
			- @secciones = @secciones_pendientes
			= render partial: 'admin/profesores/card_seccion', locals: {tipo: 'pendientes', titulo: 'Pendientes Por Calificar'}

		- if @secciones_calificadas.count > 0
			- @secciones = @secciones_calificadas
			= render partial: 'admin/profesores/card_seccion', locals: {tipo: 'calificadas', titulo: 'Calificadas'}

		-if @secciones_secundarias and @secciones_secundarias.count > 0
			- @secciones = @secciones_secundarias
			= render partial: 'admin/profesores/card_seccion', locals: {tipo: 'secundarias', titulo: 'Como Participante'}
