- @secciones = @profesor.secciones.order('periodo_id DESC')
- @secciones_secundarias = @profesor.secciones_secundarias.order('periodo_id DESC')
.border.mt-3.p-3
	%h6 
		Departamento:
		= @profesor.departamento.descripcion

- if @secciones.count > 0
	= render 'admin/secciones/tabla_secciones'

-if @secciones_secundarias and @secciones_secundarias.all.count > 0
	.border.p-3
		%h6 Para Participar

		%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
			%thead
				%tr
					%th Sección
					%th Asignatura
			%tbody
				- @secciones_secundarias.each do |seccion|
					%tr
						%td= link_to seccion.descripcion, "#{seccion_path(seccion)}?secundaria=true", class: 'btn btn-sm btn-outline-success'
						%td= seccion.asignatura.descripcion_completa