= form_for @usuario, html: { class: 'form-horizontal' } do |f|

  - if current_estudiante and @usuario.estudiante and (current_usuario.ci.eql? @usuario.ci) and (@usuario.ci.eql? @usuario.password)
    = render partial: '/admin/estudiantes/form_new_estudiante', locals: {f: f}
  - else
    = render partial: '/admin/usuarios/form_datos_personales', locals: {f: f}
    - if params[:estudiante]
      = hidden_field_tag 'estudiante_set', true
      = render '/admin/grados/form'
    - if params[:profesor]
      = render 'form_datos_profe'
    - elsif params[:administrador]
      = render 'form_datos_admin'

  .form-group.row
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'

:javascript

  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
  });


  $('.ci').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().replace(/[^0-9]/g,'') );
    });