= form_for @usuario, html: { class: 'form-horizontal' } do |f|
  - if params[:estudiante]
    = hidden_field_tag 'estudiante_set', true
    .form-group
      %label.control-label.col-md-2 Escuela
      .col-md-10
        = collection_select(:estudiante, :escuela_id, Escuela.all, :id, :descripcion, {prompt: "-- Seleccione Escuela --"}, {class: 'text-field form-control'})

  - elsif params[:profesor]
    .form-group
      %label.control-label.col-md-2 Departamento
      .col-md-10
        = collection_select(:profesor, :departamento_id, Departamento.all, :id, :descripcion_completa, {prompt: "-- Seleccione Departamento --"}, {required: true, class: 'text-field form-control'})
  - elsif params[:administrador]
    .form-group
      %label.control-label.col-md-2 Rol del Adminstrador
      .col-md-10
        = select_tag '[administrador]rol', options_for_select(Administrador.roles.reject{|a| a.eql? 'ninja'}.map{|k,v| [k.titleize,k]}), prompt: '-- Seleccione Rol --', required: true, class: 'text-field form-control', id: :roles_admin
    #jefeDepartamento.hideble
      .form-group
        %label.control-label.col-md-2 Departamento
        .col-md-10
          = grouped_collection_select :administrador, :departamento_id, Escuela.all, :departamentos, :descripcion, :id, :descripcion, {prompt: "-- Seleccione Departamento --"}, { class: 'text_field form-control'}
          =# grouped_collection_select :cal_seccion, :cal_profesor_ci, @departamentos, :cal_profesores, :descripcion, :id, :descripcion, {:prompt => "Profesor"}, { class: 'selects2', style: 'width:30%'}
          =# collection_select(:administrador, :departamento_id, Departamento.all, :id, :descripcion_completa, {prompt: "-- Seleccione Departamento --"}, {class: 'text-field form-control'})
    #jefeEscuela.hideble
      .form-group
        %label.control-label.col-md-2 Escuela
        .col-md-10
          = collection_select(:administrador, :escuela_id, Escuela.all, :id, :descripcion, {prompt: "-- Seleccione Escuela --"}, {class: 'text-field form-control'})

  - if action_name.eql? 'new'
    .form-group
      = f.label :ci, class: 'control-label col-md-2'
      .col-md-10
        = f.text_field :ci, required: true, class: 'text_field form-control ci'
    .form-group
      = f.label :password, class: 'control-label col-md-2', value: 'Contrase単a'
      .col-md-10
        = f.password_field :password, required: true, class: 'text_field form-control'
    .form-group
      = f.label :password_confirmation, class: 'control-label col-md-2', value: 'Confirme Contrase単a'
      .col-md-10
        = f.password_field :password_confirmation, required: true, class: 'text_field form-control'
  - elsif (current_usuario.ci.eql? @usuario.ci) & (@usuario.ci.eql? @usuario.password)
    .form-group
      = f.label :password, class: 'control-label col-md-2', value: 'Contrase単a'
      .col-md-10
        = f.password_field :password, required: true, class: 'text_field form-control'
    .form-group
      = f.label :password_confirmation, class: 'control-label col-md-2', value: 'Confirme Contrase単a'
      .col-md-10
        = f.password_field :password_confirmation, required: true, class: 'text_field form-control'


  .form-group
    = f.label :nombres, class: 'control-label col-md-2'
    .col-md-10
      - if current_usuario.administrador and current_usuario.administrador.maestros?
        = f.text_field :nombres, required: true, class: 'text_field form-control upcase'
      - else
        .text_field.form-control.text-muted= @usuario.nombres
  .form-group
    = f.label :apellidos, class: 'control-label col-md-2'
    .col-md-10
      - if current_usuario.administrador and current_usuario.administrador.maestros? #@current_admin and @current_admin.altos?
        = f.text_field :apellidos, required: true, class: 'text_field form-control upcase'
      - else
        .text_field.form-control.text-muted= @usuario.apellidos
  .form-group
    = f.label :email, class: 'control-label col-md-2'
    .col-md-10
      = f.email_field :email, required: true, class: 'text_field form-control'
  .form-group
    = f.label :telefono_habitacion, class: 'control-label col-md-2'
    .col-md-10
      = f.phone_field :telefono_habitacion, class: 'text_field form-control'
  .form-group
    = f.label :telefono_movil, class: 'control-label col-md-2'
    .col-md-10
      = f.phone_field :telefono_movil, class: 'text_field form-control'
  .form-group
    = f.label :sexo, class: 'control-label col-md-2'
    .col-md-10
      =# f.select(:sexo, Usuario.sexos.keys.map {|sexo| [sexo.titleize,sexo]},{}, {class: 'text_field form-control', required: true})

      .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
        - Usuario.sexos.map do |k,v| 
          %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: k.titleize}
            = radio_button_tag '[usuario]sexo', k, false, required: true
            = k[0].upcase      
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'

:javascript
  $('#roles_admin').on('change',function(evt){ 
    if ($(this).val() == 'admin_departamento') {
      $('#jefeDepartamento').show();
      $("#administrador_departamento_id").prop('required',true);

    }else{
      $('#jefeDepartamento').hide();
      $("#administrador_departamento_id").prop('required',false);

    };

    if ($(this).val() == 'admin_escuela') {
      $('#jefeEscuela').show();
      $("#administrador_escuela_id").prop('required',true);

    }else{
      $('#jefeEscuela').hide();
      $("#administrador_escuela_id").prop('required',false);

    };

  });

  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
  });


  $('.ci').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().replace(/[^0-9]/g,'') );
    });