= form_for @usuario, html: { class: 'form-horizontal' } do |f|
  - if action_name.eql? 'new'
    .form-group
      = f.label :ci, class: 'control-label col-md-2'
      .col-md-10
        = f.text_field :ci, required: true, class: 'text_field form-control'
    .form-group
      = f.label :password, class: 'control-label col-md-2'
      .col-md-10
        = f.password_field :password, required: true, class: 'text_field form-control'
  .form-group
    = f.label :nombres, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :nombres, required: true, class: 'text_field form-control upcase'
  .form-group
    = f.label :apellidos, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :apellidos, required: true, class: 'text_field form-control upcase'
  .form-group
    = f.label :email, class: 'control-label col-md-2'
    .col-md-10
      = f.email_field :email, required: true, class: 'text_field form-control'
  .form-group
    = f.label :telefono_habitacion, class: 'control-label col-md-2'
    .col-md-10
      = f.phone_field :telefono_habitacion, class: 'text_field form-control'
  .form-group
    = f.label :telefono_movil, class: 'control-label col-md-2'
    .col-md-10
      = f.phone_field :telefono_movil, class: 'text_field form-control'
  .form-group
    = f.label :sexo, class: 'control-label col-md-2'
    .col-md-10
      = f.select(:sexo, Usuario.sexos.keys.map {|role| [role.titleize,role]}, required: true)
      =# f.text_field :sexo, class: 'text_field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), usuarios_path, class: 'btn btn-default'



:javascript

  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
  });
