%br
- if current_usuario.administrador.maestros?
	= btn_edit_primary edit_usuario_path(@usuario), "Actualizar datos personales y de contacto", 'Actualizar'

%br
%br
%b.mt-5 Datos Personales: 
= render '/admin/usuarios/cambiar_cedula'
%ul.border.list-unstyled.p-3
	%li
		%b Cédula de Identidad:
		= @usuario.id
		- if current_usuario.administrador.maestros?
			= simple_icon_toggle_modal_edit "Editar cédula de identidad de #{@nickname}", 'cambiar_cedula'
		
	%li
		%b Nombre:	
		= @usuario.nombre_completo
	- if current_usuario.administrador.ninja?
		%li
			%b Contraseña:
			= @usuario.password

			%b.tooltip-btn{'data_toggle'=>'tooltip', title: "Resetear Contraseña"}
				= link_to( resetear_contrasena_usuario_path(@usuario), {'data-confirm' => 'Esta acción asignará la cédula de identidad como contraseña, ¿está de acuerdo?'}) do
					= glyph 'repeat'
					= glyph 'lock'

%b Datos de contacto:
%ul.border.list-unstyled.p-3
	%li 
		%b Correo Electrónico:
		= "#{@usuario.email}" 
	%li 
		%b Teléfono Móvil:
		= "#{@usuario.telefono_movil}"
	%li 
		%b Teléfono Habitación:
		= "#{@usuario.telefono_habitacion}"