- if current_admin and current_admin.maestros?
	= btn_edit_primary edit_usuario_path(@usuario), "Actualizar datos personales y de contacto", 'Actualizar'
	%br
%br

%b.mt-5 Datos Personales: 

%ul.border.list-unstyled.p-3
	%li
		%b Cédula de Identidad:
		= @usuario.id
		- if current_admin and current_admin.maestros?
			= simple_icon_toggle_modal_edit "Editar cédula de identidad de #{@nickname}", 'cambiar_cedula'
			= render '/admin/usuarios/cambiar_cedula'
	- if current_admin and current_admin.ninja?
		%li
			%b Contraseña:
			%b.tooltip-btn{'data_toggle'=>'tooltip', title: "Resetear Contraseña"}
				= link_to( resetear_contrasena_usuario_path(@usuario), {'data-confirm' => 'Esta acción asignará la cédula de identidad como contraseña, ¿está de acuerdo?'}) do
					= glyph 'repeat'
					= glyph 'lock'
	%li
		%b Nombre Completo:	
		= @usuario.nombre_completo	
	%li 
		%b Sexo:
		= @usuario.sexo
	%li 
		%b Estado Civil:
		= @usuario.estado_civil
	-if @usuario.estudiante
		%li 
			%b Edad:
			= "#{@usuario.edad} años"

%b Datos de origen:
%ul.border.list-unstyled.p-3
	%li 
		%b Nacionalidad:
		= @usuario.nacionalidad
	%li 
		%b Ciudad origen:
		= @usuario.descripcion_nacimiento 
	%li 
		%b Fecha de Nacimiento:
		= l(@usuario.fecha_nacimiento, format: "%d de %B de %Y") if @usuario.fecha_nacimiento


%b Datos de contacto:
%ul.border.list-unstyled.p-3
	%li 
		%b Correo Electrónico:
		= "#{@usuario.email}" 
	%li 
		%b Teléfono Móvil:
		= "#{@usuario.telefono_movil}"
	%li 
		%b Teléfono de Habitación:
		= "#{@usuario.telefono_habitacion}"
	-if @usuario.estudiante
		%li 
			%b Dirección de Habitación:
			= @usuario.estudiante.direccion.descripcion_completa if @usuario.estudiante.direccion

- if @usuario.estudiante
	%b Otros Datos:
	%ul.border.list-unstyled.p-3
		%li 
			%b Discapacidad:
			= @usuario.estudiante.discapacidad ? @usuario.estudiante.discapacidad : 'Ninguna'

		%li 
			%b Otro Título Universitario:
			= @usuario.estudiante.titulo_universitario ? @usuario.estudiante.descripcion_otro_titulo : 'Ninguno'

