.modal.hide.fade#set_profesor{'aria-hidden'=> false}
  .modal-dialog
    .modal-content
      .alert.alert-info.text-center
        %h6 Registrar como profesor a:
        %h6.text-italic= @usuario.nombre_completo 
        <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
      .modal-body

        = form_tag(set_profesor_usuario_path, class: 'form-horizontal') do
          = hidden_field_tag :id, @usuario.id
          .modal-body

            .form-group
              %h6.col-md-12 Departamento
              .col-md-12
                = collection_select(:profesor, :departamento_id, Departamento.all, :id, :descripcion, {prompt: "-- Seleccione Departamento --"}, {required: true, class: 'text_field form-control'})

          .modal-footer
            %a.btn{data: {dismiss: 'modal'}} Cancelar
            = submit_tag 'Guardar', class: 'btn btn-primary'
