
%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      %th.span3 Roles
      %th.span4 Nombre y Apellido
      %th Cédula
      %th Correo Electrónico
      %th Móvil
      %th Opciones
  %tbody
    -@usuarios.each do |u| 
      %tr
        %td
          %table.table        
            - u.roles.each do |rol| 
              - if rol.eql? 'Estudiante'
                - u.estudiante.grados.each do |grado|
                  %tr
                    %td
                      Estudiante
                      - if u.estudiante.inscrito? current_periodo.id, grado.escuela_id

                        = simple_toggle_rounded "#{constancia_inscripcion_descargar_path(u)}?escuela_id=#{grado.escuela_id}", 'I', 'Descargar Constancia de Inscripción' , 'success', 'download'

                        = simple_toggle_rounded "#{kardex_descargar_path(u)}?escuela_id=#{grado.escuela_id}", 'K', 'Descargar Kardex' , 'success', 'download'

                        = btn_inscribir seleccionar_inscripcionseccion_path(u), 'Inscripción del periodo actual', 'Inscribir'
                    %td= grado.escuela.descripcion
                    %td= grado.plan_id

              - else
                %tr
                  %td= rol

        %td= link_to u.nombre_completo, u
        %td= link_to u.ci, u
        %td= u.email
        %td= u.telefono_movil
        %td
          - if current_admin.maestros?            
            %b.tooltip-btn{'data_toggle'=>'tooltip', title: "Resetear Contraseña"}
              = link_to(resetear_contrasena_usuario_path(u), {data: {confirm: 'Esta acción asignará la cédula de identidad como contraseña, ¿está de acuerdo?'}, class: 'btn btn-sm btn-outline-primary'}) do
                = glyph 'lock'
                = glyph 'repeat'

