
%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      - if current_admin.maestros? 
        %th.span3 Roles
      %th Plan
      %th.span4 Nombre y Apellido
      %th Cédula
      - if current_admin.ninja? 
        %th Contraseña
      %th Correo Electrónico
      %th Móvil
      %th Opciones
  %tbody
    -@usuarios.each do |u| 
      %tr
        %td
          %table.table        
            - u.roles.each do |rol| 
              %tr
                %td= rol
        %td
          - if u.estudiante and u.estudiante.ultimo_plan
            = u.estudiante.ultimo_plan  
          - else
            = "--"

        %td= link_to u.nombre_completo, u
        %td= u.ci
        - if current_admin.ninja?  
          %td= u.password
        %td= u.email
        %td= u.telefono_movil
        %td
          - if current_admin
            - if u.estudiante
              - if u.estudiante.inscrito?
                = btn_toggle 'btn-outline-success', 'download', constancia_inscripcion_descargar_path(u), "Descargar Constancia de Inscripción", ''
              - else
                = btn_inscribir seleccionar_inscripcionseccion_path(u), 'Inscripción del periodo actual', 'Inscribir'
              = btn_success 'download', kardex_descargar_path(u), "Descargar Kardex", 'Kardex'
              
              %b.tooltip-btn{'data_toggle'=>'tooltip', title: "Resetear Contraseña"}
                = link_to(resetear_contrasena_usuario_path(u), {data: {confirm: 'Esta acción asignará la cédula de identidad como contraseña, ¿está de acuerdo?'}, class: 'btn btn-sm btn-outline-primary'}) do
                  = glyph 'lock'
                  = glyph 'repeat'
