%h5
  %table.table.table-striped.table-sm.table-bordered.table-responsive-md.mt-3
    %tr
      %td{style: 'width:5%;'} Roles:
      - @usuario.roles_generales.each do |r| 
        %td
          = r.to_s.titleize
          - if current_usuario.administrador.ninja?
            = content_tag :b, class: 'tooltip-btn', 'data_toggle'=> :tooltip, title: "Eliminar rol como #{r.titleize}"  do
              = link_to "#{delete_rol_usuario_path(@usuario)}?#{r.downcase}=true", class: 'btn btn-sm', data: { confirm: 'Esta acción eliminará irreversiblemente todas las asociaciones del rol de usuario como asignaturas y calificaciones. ¿Está Seguro?'} do
                .text-danger= glyph 'trash'



- if current_usuario.administrador.maestros?
  %h6
    Agregar Roles:
    - unless @estudiante
      = btn_toggle_modal 'plus', "Registrar a #{@nickname} como Estudiante", "Estudiante", 'set_estudiante'
      = render '/admin/usuarios/set_estudiante'
    - unless @administrador
      = btn_toggle_modal 'plus', "Registrar a #{@nickname} como Administrador", "Administrador", 'set_admin'
      = render '/admin/usuarios/set_administrador'
    - unless @profesor
      = btn_toggle_modal 'plus', "Registrar a #{@nickname} como Profesor", "Profesor", 'set_profesor'
      = render '/admin/usuarios/set_profesor'

    - if @estudiante and @estudiante.valido_para_inscribir?
      = btn_inscribir seleccionar_inscripcionseccion_path(@estudiante), 'Inscripción del periodo actual', 'Inscribir'
%nav
  .nav.nav-tabs
    = link_to 'Datos Personales y de Contacto', "#personales", "data-toggle"=> "tab", class: 'nav-item nav-link'
    - if @estudiante
      = link_to 'Plan de Estudio y Combinaciones de Idiomas', "#estudios", "data-toggle"=> "tab", class: 'nav-item nav-link'
      = link_to 'Historial Académico', "#historial", "data-toggle"=> "tab", class: 'nav-item nav-link'
    - if @profesor
      = link_to 'Detalles Académicos', "#profesor", "data-toggle"=> "tab", class: 'nav-item nav-link'
    - if @administrador
      = link_to 'Administrador', "#administrador", "data-toggle"=> "tab", class: 'nav-item nav-link'
      
.tab-content
  .tab-pane#personales
    .border.mt-3.p-3
      = render partial: '/admin/usuarios/personales_contacto'
  - if @estudiante
    .tab-pane#estudios
      .border.mt-3.p-3
        = render '/admin/historialplanes/index'
        = render '/admin/combinaciones/index'
    .tab-pane#historial
      = render partial: '/admin/estudiantes/historial_academico'

  - if @profesor
    .tab-pane#profesor
      = render partial: '/admin/profesores/detalle'

  - if current_usuario.administrador.mas_altos? and @administrador
    .tab-pane#administrador
      .border.mt-3.p-3
        %b
          = @administrador.descripcion
          - if current_usuario.administrador.maestros?
            = render '/admin/usuarios/set_administrador' 
            = content_tag :b, class: 'tooltip-btn', 'data_toggle'=> :tooltip, title: 'Cambiar tipo de Administrador' do
              = link_to "javascript:void(0)", onclick: "$('#set_admin').modal();", class: 'btn ml-2 btn-sm' do
                = glyph 'edit'

        




