- @accion = action_name
- @controlador = controller_name

%h3
  = link_to "< Regresar", :back, {class: 'btn btn-secondary'}
  - if @estudiante and @estudiante.valido_para_inscribir?
    = link_to({controller: '/admin/inscripcion_seccion', action: 'seleccionar', id: @estudiante.id}, class: 'btn btn-success') do
      %span.icon-pencil
      Inscribir

%nav
  .nav.nav-tabs
    = link_to 'Datos Personales y de Contacto', "#personales", "data-toggle"=> "tab", class: 'nav-item nav-link'
    - if @estudiante
      = link_to 'Plan de Estudio y Combinaciones de Idiomas', "#estudios", "data-toggle"=> "tab", class: 'nav-item nav-link'
      = link_to 'Historial Académico', "#historial", "data-toggle"=> "tab", class: 'nav-item nav-link'
    - if @profesor
      = link_to 'Detalles Académicos', "#profesor", "data-toggle"=> "tab", class: 'nav-item nav-link'
      
.tab-content
  .tab-pane#personales
    = render partial: '/admin/usuarios/personales_contacto'
  - if @estudiante
    .tab-pane#estudios
      = render '/admin/historialplanes/index'
      =# render 'combinaciones/index'
    .tab-pane#historial
      =# render partial: 'estudiante/historial_academico'

  - if @profesor
    .tab-pane#profesor
      =# render partial: 'profesor/detalle'
