- model_class = Catedra

%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:descripcion)
      %th Departamentos
      %th T. Asig
      %th T. Secc
      %th T. Insc
      %th Creación
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @catedras.each do |catedra|
      %tr
        %td= catedra.id
        %td= catedra.descripcion
        %td= catedra.departamentos.collect{|c| c.descripcion}.join(' | ')
        %td= catedra.asignaturas.count
        %td= catedra.secciones.count
        %td= catedra.inscripcionsecciones.count
        %td=l catedra.created_at, format: :long
        %td
          = link_to catedra_path(catedra), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do
            = glyph 'info-sign'
          = link_to edit_catedra_path(catedra), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          = link_to catedra_path(catedra), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            = glyph 'remove'

= link_to t('.new', default: t("helpers.links.new")), new_catedra_path, class: 'btn btn-primary'
