- model_class = Catedra
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:descripcion)
    %dd
      %pre.prettyprint= @catedra.descripcion
    %dt.label.label-default= model_class.human_attribute_name(:orden)
    %dd
      %pre.prettyprint= @catedra.orden

.form-group
  = link_to t('.back', default: t("helpers.links.back")), catedras_path, class: 'btn btn-default'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_catedra_path(@catedra), class: 'btn btn-default'
  = link_to t('.destroy', default: t("helpers.links.destroy")), catedra_path(@catedra), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'