- hidden = @asignatura ? '' : 'hideble'
.border.p-md-2.mt-md-3#responseTotal{class: hidden}
	
	.text-center
		- if controller_name.eql? 'secciones' or (@controller and @controller.eql? 'secciones')
			#btnNuevaSeccion{class: hidden}= btn_toggle_modal 'plus', 'Agregar Sección', '', 'nueva_seccion'
		%b#descAsignatura= @asignatura.descripcion_id_con_creditos if @asignatura
	- if controller_name.eql? 'inscripcionsecciones'
		%h6.titulo= "Secciones disponibles:" 
	#tableResponse
		- if @secciones and @secciones.any?
			- if controller_name.eql? 'inscripcionsecciones'
				= render partial: '/admin/inscripcionsecciones/secciones_inscripcion', locals: {object: @asignatura, secciones: @secciones} if @asignatura
			- else
				= render partial: '/admin/secciones/index2/th_resultado', locals: {object: @asignatura, secciones: @secciones}

	#no_encontrado.pagination-centered.text-center.hideble.p-0
		.alert.alert-danger No se encontraron secciones