.form-group.row
  = f.label :ci, class: 'col-form-label col-md-2 text-right ', value: 'Cédula de Identidad:'
  .col-md-10
    =# f.text_field :ci, required: true, class: 'text-field form-control ci form-control-plaintext', placeholder: 'Cédula de Identidad'
    = f.text_field :ci, required: true, class: 'text-field form-control ci', autofocus: true
.form-group.row
  = f.label :nombres, class: 'col-form-label col-md-2 text-right', value: 'Nombres:'
  .col-md-10
    = f.text_field :nombres, class: 'text-field form-control upcase'
.form-group.row
  = f.label :apellidos, class: 'col-form-label col-md-2 text-right', value: 'Apellidos:'
  .col-md-10
    = f.text_field :apellidos, class: 'text-field form-control upcase'
.form-group.row
  = f.label :email, class: 'col-form-label col-md-2 text-right', value: 'Email:'
  .col-md-10
    = f.email_field :email, class: 'text-field form-control'
.form-group.row
  = f.label :telefono_habitacion, class: 'col-form-label col-md-2 text-right', value: 'Teléfono de Habitación:'
  .col-md-10
    = f.phone_field :telefono_habitacion, class: 'text-field form-control'
.form-group.row
  = f.label :telefono_movil, class: 'col-form-label col-md-2 text-right', value: 'Teléfono Móvil:'
  .col-md-10
    = f.phone_field :telefono_movil, class: 'text-field form-control'


= render '/admin/grados/form'