= hidden_field_tag '[grado]iniciado_periodo_id', current_periodo.id
.form-group.row
  = f.label :ci, class: 'col-form-label col-md-2 text-right', value: 'Cédula de Identidad:'
  .col-md-10
    =# f.text_field :ci, required: true, class: 'text-field form-control ci form-control-plaintext', placeholder: 'Cédula de Identidad'
    = f.text_field :ci, required: true, class: 'text-field form-control ci'
=# DATOS DE ESCUELA
.form-group.row
  %label.col-form-label.col-md-2.text-right Escuela:
  .col-md-10
    = collection_select(nil, :escuela_id , Escuela.all, :id, :descripcion, {prompt: "-- Seleccione Escuela --"}, {class: 'text-field form-control', required: true})

=# DATOS DE PLAN
.form-group.row
  %label.col-form-label.col-md-2.text-right Plan:
  .col-md-10= collection_select(nil, 'plan[id]' , Plan.all, :id, :descripcion_completa_con_escuela, {prompt: "-- Seleccione Plan --"}, {class: 'text-field form-control', required: true})

.form-group.row
  %label.col-form-label.col-md-2.text-right Tipo de Ingreso:
  .col-md-10
    - Grado.tipos_ingreso.map do |k,v| 
      %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: k.titleize}
        = radio_button_tag '[grado]tipo_ingreso', k, false, required: true
        = "#{k.upcase}"

.form-group.row
  %label.col-form.label.col-md-2.text-right Inscrito en la UCV:
  .col-md-10= check_box_tag '[grado]inscrito_ucv', 1, true

.form-group.row
  %label.col-form.label.col-md-2.text-right Reincorporado:
  .col-md-10= check_box_tag '[grado]estado_inscripcion', 2, false

