.border.mt-3.p-3
	%table.mt-3.mb-3.flex-column
		%tr
			- if @estudiante.tiene_alguna_inscripcion?
				%td= btn_success 'download', "#{kardex_descargar_path(@estudiante.id)}?escuela_id=#{@escuela.id}", "Descargar Kardex de #{@nickname}", 'Kardex'
				%td= btn_success 'download', "#{constancia_inscripcion_descargar_path(@estudiante.id)}?escuela_id=#{@escuela.id}", "Constancia de Inscripción de #{@nickname}", 'Constancia Inscripción'
				%td= btn_success 'download', "#{constancia_estudio_descargar_path(@estudiante.id)}?escuela_id=#{@escuela.id}", "Constancia de Estudio de #{@nickname}", 'Constancia Estudio'

			- if current_admin

				%td= btn_toggle_modal 'plus', "Inscribir a #{@nickname} en una sección del periodo actual: #{current_periodo.id}", "Inscribir en seccion del #{current_periodo.id}", "estudiante_seccion_#{@escuela.id}"
				= render partial: '/admin/inscripcionsecciones/form'
	%b Registro de Historial Académico:

	#accordion
		- @periodos.each do |periodo|
			-# @secciones_periodo = @inscripciones.del_periodo periodo.id

			-# @secciones_periodo = @inscripciones.del_periodo(periodo.id).sort {|a,b| a.descripcion(periodo.id) <=> b.descripcion(periodo.id)}
			- @secciones_periodo = @inscripciones.del_periodo(periodo.id).reject{|ins| !ins.escuela.id.eql? @escuela.id}#.sort {|a,b| a.descripcion(periodo.id) <=> b.descripcion(periodo.id)}
			-# @secciones_periodo = @inscripciones.joins(:seccion).where("secciones.periodo_id": periodo.id)
			- if @secciones_periodo.count > 0
				.card
					.card-header{id: "heading#{periodo.id}"}
						%h5.mb-0
							= link_to "Período Académico #{periodo.id}", "#collapse#{periodo.id}", {"aria-controls" => "collapse#{periodo.id}", "aria-expanded" => :false, "data-target" => "#collapse#{periodo.id}", "data-toggle" => :collapse, class: "btn btn-link"}
					.collapse{id: "collapse#{periodo.id}", "aria-labelledby" => "heading#{periodo.id}", "data-parent" => "#accordion"}
						.card-body
							- @periodo = periodo
							= render '/admin/estudiantes/table_contenido_historial'


:javascript

	function confirmar(ele) {
		ele.parent().submit();

		if (ele.is(":checked")) {
			ele.closest('tr').addClass('info');
		}else{
			ele.closest('tr').removeClass('info');
		}
	};
	