%b Resumen Académico:
%table.table.table-sm.table-hover
	- cursados = ins.total_creditos_cursados
	- aprobados = ins.total_creditos_aprobados
	- eficiencia = (cursados and cursados > 0) ? (aprobados.to_f/cursados.to_f).round(4) : 0.0
	- aux = ins.no_absolutas.aprobadas
	- promedio_simple_aprob = aux.count > 0 ? aux.promedio.round(4) : 0.0
	
	- aux = ins.no_absolutas.ponderado_aprobadas
	- ponderado_apro = aprobados > 0 ? (aux.to_f/aprobados.to_f).round(4) : 0.0

	- aux = ins.no_absolutas.ponderado
	- ponderado = cursados > 0 ? (aux.to_f/cursados.to_f).round(4) : 0.0
	
	%tr
		%th Créditos Inscritos:
		%th= ins.total_creditos
	%tr
		%td Créditos Cursados:
		%th= cursados
	%tr
		%td Créditos Aprobados (Sin Equivalencias):
		%th= ins.sin_equivalencias.total_creditos_aprobados
	%tr
		%td Créditos Equivalencia:
		%th= ins.por_equivalencia.total_creditos
	%tr
		%td Total Créditos Aprobados:
		%th= aprobados
	%tr
		%td Eficiencia:
		%th= eficiencia
	%tr
		%td Promedio Simple:
		%th= ins.no_absolutas.promedio.round(4)
	%tr
		%td Promedio Simple Aprobado:
		%th= promedio_simple_aprob
	%tr
		%td Promedio Ponderado Aprobado:
		
		%th= ponderado_apro
	%tr
		%td Promedio Ponderado:
		%th= ponderado
