- tiene_numerica3 = inscripciones.por_total_calificaciones?
- tiene_numerica3 = tiene_numerica3.include? 2
- inscripciones = inscripciones.joins(:asignatura).order("asignaturas.descripcion ASC")
%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md
	%thead
		%tr
			%th ID
			- if @foraneas
				%th Período
			%th Asignatura
			%th Sección
			%th UC
			%th Profesor Princial
			%th Profesor(es) Secundario(s)
			- if tiene_numerica3
				%th TRIM I
				%th TRIM II
				%th TRIM III
			%th Definitiva
			- if current_admin and controller_name.eql? 'usuarios'
				%th{colspan: 4} Opciones
	%tbody
		- inscripciones.each do |inscripcion|
			- retirado = inscripcion.retirado?
			-# tipo_calificacion = 'info' if (@periodo.id.eql? '2016-02A' and inscripcion.confirmar_inscripcion.eql? 1)
			%tr{class: inscripcion.tr_class_style_qualify, id: inscripcion.id_foranea}
				%td.align-middle= inscripcion.id
				- if @foraneas
					%td= inscripcion.seccion.periodo_id
				%td.align-middle
					= link_to_if current_admin, inscripcion.seccion.asignatura.descripcion, inscripcion.seccion
					.badge.badge-dark= inscripcion.seccion.asignatura.id_uxxi
					.badge.badge-info= 'Retirada' if retirado #inscripcion.retirado?
					.badge.badge-info= 'PCI' if false #inscripcion.seccion.asignatura.pci? inscripcion.seccion.periodo_id
					= raw inscripcion.label_pci
					
				%td.align-middle= inscripcion.seccion.numero
				%td.align-middle= inscripcion.seccion.asignatura.creditos
				- if current_admin
					%td.align-middle= inscripcion.seccion.profesor.descripcion if inscripcion.seccion.profesor
					%td.align-middle=raw inscripcion.seccion.profesores.collect{|p| p.descripcion}.join(" </br> ") if inscripcion.seccion.profesores.count > 0
				- else
					%td.align-middle= inscripcion.seccion.profesor.usuario.apellido_nombre if inscripcion.seccion.profesor
					%td.align-middle=raw inscripcion.seccion.profesores.collect{|p| p.usuario.apellido_nombre}.join(" </br>") if inscripcion.seccion.profesores.count > 0

				- if inscripcion.seccion.asignatura.numerica3?
					%td.align-middle= inscripcion.primera_calificacion
					%td.align-middle= inscripcion.segunda_calificacion
					%td.align-middle= inscripcion.tercera_calificacion
				%td.align-middle= inscripcion.valor_calificacion true
				- if current_admin and controller_name.eql? 'usuarios'

					- if inscripcion.foranea? 
						= form_tag(set_escuela_pci_inscripcionsecciones_path, id: "form_#{inscripcion.id}") do
							= hidden_field_tag :id, inscripcion.id
							%td.align-middle= collection_select nil, :pci_escuela_id, @estudiante.escuelas, :id, :descripcion, {selected: inscripcion.pci_escuela_id, prompt: 'Asignar Escuela'}, { class: '', style: 'width:150px', onChange: "$(this).parent().submit()"}
					%td.align-middle
						= link_to(inscripcion, class: 'tooltip-btn', method: :delete, data: {toggle: :tooltip, confirm: "Se perderan los datos de las notas, ¿Está seguro de esta acción?" }, title: 'Eliminar Inscripción') do
							.text-danger= glyph 'trash'

					- seccionesAlternas = inscripcion.asignatura.secciones.del_periodo(inscripcion.seccion.periodo_id).where("id != ?", inscripcion.seccion_id).collect{|s| [s.id, s.numero]}

					%td.align-middle
						- if seccionesAlternas.any?
							= link_to 'javascript:void(0)', class: 'tooltip-btn', 'data-toggle': 'tooltip', title: "Cambiar de Sección", onclick: "setupCambioSeccion('#{inscripcion.id}', #{seccionesAlternas.to_json})" do
								%span= glyph 'link'
						- else
							.tooltip-btn.text-muted{'data-toggle': 'tooltip', title: "Sección Única"}= glyph 'link'

						- if retirado
							=# simple_toggle "/coesapp/inscripcionsecciones/#{inscripcion.id}/cambiar_estado?valor=INS", '', 'Reinscribir Asignatura', 'success', 'ok'
							%td.align-middle= simple_toggle "#{cambiar_estado_inscripcionseccion_path(inscripcion)}?estado=0", '', 'Reinscribir Asignatura', 'success', 'ok'
						- else
							%td.align-middle= simple_toggle "#{cambiar_estado_inscripcionseccion_path(inscripcion)}?estado=3", '', 'Retirar Asignatura', 'danger', 'remove'
						=# current_periodo.id	

