- tiene_numerica3 = inscripciones.por_total_calificaciones?
- tiene_numerica3 = tiene_numerica3.include? 2
%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md
	%thead
		%tr
			%th ID
			- if @foraneas
				%th Período
			%th Asignatura
			%th Sección
			%th UC
			%th Profesor Princial
			%th Profesor(es) Secundario(s)
			- if tiene_numerica3
				%th TRIM I
				%th TRIM II
				%th TRIM III
			%th Definitiva
			- if current_admin and controller_name.eql? 'usuarios'
				%th Opciones
	%tbody
		- inscripciones.each do |inscripcion|
			- retirado = inscripcion.retirado?
			-# tipo_calificacion = 'info' if (@periodo.id.eql? '2016-02A' and inscripcion.confirmar_inscripcion.eql? 1)
			%tr{class: inscripcion.tr_class_style_qualify, id: inscripcion.id_foranea}
				%td= inscripcion.id
				- if @foraneas
					%td= inscripcion.seccion.periodo_id
				%td
					= link_to_if current_admin, inscripcion.seccion.asignatura.descripcion, inscripcion.seccion
					.badge.badge-dark= inscripcion.seccion.asignatura.id_uxxi
					.badge.badge-info= 'Retirada' if retirado #inscripcion.retirado?
					.badge.badge-info= 'PCI' if false #inscripcion.seccion.asignatura.pci? inscripcion.seccion.periodo_id
					= raw inscripcion.label_pci
					
				%td= inscripcion.seccion.numero
				%td= inscripcion.seccion.asignatura.creditos
				- if current_admin
					%td= inscripcion.seccion.profesor.descripcion if inscripcion.seccion.profesor
					%td=raw inscripcion.seccion.profesores.collect{|p| p.descripcion}.join(" </br> ") if inscripcion.seccion.profesores.count > 0
				- else
					%td= inscripcion.seccion.profesor.usuario.apellido_nombre if inscripcion.seccion.profesor
					%td=raw inscripcion.seccion.profesores.collect{|p| p.usuario.apellido_nombre}.join(" </br>") if inscripcion.seccion.profesores.count > 0

				- if inscripcion.seccion.asignatura.numerica3?
					%td= inscripcion.primera_calificacion
					%td= inscripcion.segunda_calificacion
					%td= inscripcion.tercera_calificacion
				%td= inscripcion.valor_calificacion true
				- if current_admin and controller_name.eql? 'usuarios'
					%td
						- if inscripcion.foranea? 
							= form_tag(set_escuela_pci_inscripcionsecciones_path, id: "form_#{inscripcion.id}") do
								= hidden_field_tag :id, inscripcion.id
								= collection_select nil, :pci_escuela_id, @estudiante.escuelas, :id, :descripcion, {selected: inscripcion.pci_escuela_id, prompt: 'Asignar Escuela'}, { class: '', style: 'width:150px', onChange: "$(this).parent().submit()"}

						- if retirado
							=# simple_toggle "/coesapp/inscripcionsecciones/#{inscripcion.id}/set_retirar?valor=INS", '', 'Reinscribir Asignatura', 'success', 'ok'
							= simple_toggle "#{set_retirar_inscripcionseccion_path(inscripcion)}?valor=0", '', 'Reinscribir Asignatura', 'success', 'ok'
						- else
							= simple_toggle "#{set_retirar_inscripcionseccion_path(inscripcion)}?valor=3", '', 'Retirar Asignatura', 'danger', 'remove'

						%b.tooltip-btn.ml-1{'data_toggle'=>'tooltip', 'title'=>'Eliminar Asignatura'}
							= link_to(inscripcion, {class: 'btn-danger btn-sm', :method => :delete, :data => {:confirm => "Se perderan los datos de las notas, ¿Está seguro de esta acción?" }}) do
								= glyph 'trash'

