- model_class = Cartelera

= btn_add_success new_cartelera_path, 'Agregar Nueva Cartelera', 'Nueva'
%table.table.table-striped.mt-3
  %thead
    %tr
      %th= model_class.human_attribute_name(:contenido)
      %th= model_class.human_attribute_name(:activa)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @carteleras.each do |cartelera|
      %tr
        %td= raw cartelera.contenido
        %td= agregar_onoffswitch 'habilitar', cartelera.id, set_activa_cartelera_path(cartelera), cartelera.activa

        %td
          = link_to edit_cartelera_path(cartelera), class: 'btn btn-sm', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          = link_to cartelera_path(cartelera), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            .text-danger= glyph 'trash'
