
%h3 Por Calificar

- @secciones.each do |seccion|
	%p
		= link_to seccion.descripcion, action: 'ver_seccion', id: seccion.id, clalificar: true


		-if seccion.calificada
			%span.label.label-success Calificada
			%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Aprobados'}
				%span.label
					= seccion.total_aprobados
			%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Reprobados'}
				%span.label
					= seccion.total_reprobados
			%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Perdidas Por Inasistencias'}
				%span.label
					= seccion.total_perdidos
		- else
			%span.label.label-info Pendiente por calificar

-if @secciones_secundarias and @secciones_secundarias.all.count > 0
	%h3 Para Participar

	- @secciones_secundarias.each do |seccion|
		%p= link_to seccion.descripcion, action: 'ver_seccion', id: seccion.id, secundaria: true
	