
.border.p-3
	=link_to calificar_seleccionar_seccion_path, class: 'btn btn-sm btn-outline-secondary' do
		= glyph 'chevron-left'
		Regresar

	-if true #@cal_seccion.calificada
		=link_to calificar_seleccionar_seccion_path(@seccion.id), class: "btn btn-outline-success pull-right btn-sm ml-2" do
			= glyph 'download'
			Descargar notas

	= render partial: '/admin/calificar/detalle_seccion'


	=link_to calificar_seleccionar_seccion_path, class: 'btn btn-sm btn-outline-secondary' do
		= glyph 'chevron-left'
		Regresar
	-if true #@cal_seccion.calificada
		=link_to calificar_seleccionar_seccion_path(@seccion.id), class: "btn btn-outline-success pull-right btn-sm ml-2" do
			= glyph 'download'
			Descargar notas
