
.border.p-md-3
  .alert.alert-info
    %b Formato de las cabeceras: ci, apellidos, nombres, email, telefono, telefono_habitacion (en minúscula y sin espacios):

  .text-center
    %p Ejemplo:
    = image_tag 'ejem_csv_importar_estudiantes'
    %p 
      .float-right.text-success #CAMPOS OPCIONALES
      .float-right.text-danger #CAMPOS OBLIGATORIOS
      .float-right.text-info #NOMBRES DE LAS CABECERAS

.border.p-md-3.m-md-3
  = form_tag({controller: :importador, action: :importar_estudiantes}, multipart: true, class: 'form-horizontal') do
    .form-group

      .col-md-12.mb-3
        .alert.alert-info
          %b Secleccione Archivo CSV 
          .text-muted
            Para obtener información de cómo exportar archivos .csv en excel haga click
            %a{href: 'https://support.office.com/es-es/article/importar-o-exportar-archivos-de-texto-txt-o-csv-5250ac4c-663c-47ce-937b-339e391393ba', target: '_blank'} aquí
        = file_field_tag :datafile, required: true, class: 'form-control', accept: ".csv"
      .col-md-12
        = select(nil, :escuela_id, Escuela.all.collect{|o| [ o.descripcion, o.id ] }, { include_blank: 'Selecciona Escuela...'}, {class: "form-control", required: true, onchange: 'set_escuela()'})

        = grouped_collection_select nil, :plan_id, Escuela.all, :planes, :descripcion, :id, :descripcion_completa, {:prompt => "Selecciona planes..."}, { class: 'form-control hideble mt-md-3', required: true}


        = grouped_collection_select nil, :periodo_id, Escuela.all, :periodos, :descripcion, :id, :id, {:prompt => "Selecciona a partir de cúal período se aplica el plan..."}, { class: 'form-control hideble mt-md-3', required: true}        

    .form-group
      .col-md-offset-2.col-md-10
        = submit_tag "Cargar", {class: 'btn btn-outline-success btn-sm', disable_with: "Cargando..."}

:javascript
  function set_escuela(){

    $("#plan_id optgroup").hide();
    $("#periodo_id optgroup").hide();
    var escuela = $("#escuela_id option:selected").text();
    $("#plan_id optgroup[label='" + escuela + "']").show();
    $("#periodo_id optgroup[label='" + escuela + "']").show();
    $("#plan_id").val('');
    $("#periodo_id").val('');
    $("#plan_id").show();
    $("#periodo_id").show();
  }
