.border.p-md-3
  .alert.alert-info
    %b Formato de las cabeceras: ci, id_uxxi, numero_seccion (en minúscula, sin espacios ni acentos):

  .text-center
    %p Ejemplo:
    =# image_tag 'ejem_csv_importar_estudiantes_secciones'
    = image_tag image_url('ejem_csv_importar_estudiantes_secciones.png')
    %p 
      .float-right.text-success #CAMPOS OPCIONALES
      .float-right.text-danger #CAMPOS OBLIGATORIOS
      .float-right.text-info #NOMBRES DE LAS CABECERAS

.border.p-md-3.mt-md-3

  = form_tag({controller: :importador, action: :importar_seccion}, multipart: true, class: 'form-horizontal') do
    .form-group
      .col-md-12.mb-3

        .alert.alert-info
          %b Seleccione Archivo CSV 
          .text-muted
            Para obtener información de cómo exportar archivos .csv en Excel haga click
            %a{href: 'https://support.office.com/es-es/article/importar-o-exportar-archivos-de-texto-txt-o-csv-5250ac4c-663c-47ce-937b-339e391393ba', target: '_blank'} aquí
        = file_field_tag :datafile, required: true, class: 'form-control', accept: ".csv"
      .col-md-12
        = check_box_tag :periodo_en_archivo, nil, false, onChange: "togglePeriodo($(this))" 
        El periodo está incluido en una columna del archivo
      .col-md-12
        = select(nil, :periodo_id, Periodo.all.order("id DESC").collect{|o| [ o.id, o.id ] }, { include_blank: 'Selecciona Periodo...'}, {class: "form-control", required: true})
    .form-group

      .col-md-12
        = select(nil, :escuela_id, current_admin.escuelas.order("id DESC").collect{|o| [ o.id, o.id ] }, { include_blank: 'Selecciona Escuela...'}, {class: "form-control", required: true})
      %b.col-md-12.text-muted Las inscripciones del archivo serán cargadas en la escuela seleccionada

    .form-group
      .col-md-offset-2.col-md-10
        = submit_tag "Cargar", {class: 'btn btn-outline-success btn-sm', disable_with: "Cargando..."}

:javascript

  function togglePeriodo(e){
    if (e.is(":checked")){
      $('#periodo_id').attr('disabled', 'disabled')
    }else{
      $('#periodo_id').attr('disabled', false)
    }
  }