
.border.p-md-3
  %b
    = btn_atras principal_admin_index_path
    Selección de Archivo de Secciones formato: ci, id_uxxi, número sección (12345678, 0703100310, A1):
    .text-muted Recuerde que debe existir la estructura
.border.p-md-3.m-md-3
  = form_tag({controller: :importador, action: :importar_seccion}, multipart: true, class: 'form-horizontal') do
    .form-group
      .col-md-12
        %label Seleccione el archivo a Importar (recuerde el formato es CSV):
      .col-md-12.mb-3
        = file_field_tag :datafile, required: true, class: 'form-control', accept: ".csv"
      .col-md-12 
        = select(nil, :periodo_id, Periodo.all.collect{|o| [ o.id, o.id ] }, { include_blank: 'Selecciona Periodo...'}, {class: "form-control text_field", required: true})

    .form-group
      .col-md-offset-2.col-md-10
        = submit_tag "Cargar", {class: 'btn btn-outline-success btn-sm', disable_with: "Cargando..."}