%p#notice= notice

%p
  %b Catedra:
  = @admin_catedra_departamento.catedra
%p
  %b Departamento:
  = @admin_catedra_departamento.departamento
%p
  %b Orden:
  = @admin_catedra_departamento.orden

= link_to 'Edit', edit_admin_catedra_departamento_path(@admin_catedra_departamento)
\|
= link_to 'Back', admin_catedras_departamento_path
