.modal-dialog
  .modal-content
    .alert.alert-info.text-center
      %h5= @hp.estudiante.usuario.nombre_completo 
      %i Plan de Estudio para Estudiante
    .modal-header
      <button type="button" class="close fade" data-dismiss="modal" aria-hidden="true">×</button>
    .modal-body

      =form_for(@hp, html: {class: "form-horizontal"}) do |f| 
        = f.hidden_field :estudiante_id
        = f.hidden_field :escuela_id
        .form-group
          %label.control-label.col-md-6 Plan de Estudio:
          .col-md-12
            = f.select(:plan_id, @planes.collect{|o| [ o.descripcion_completa_con_escuela, o.id ] }, { include_blank: 'Selecciona Plan de Estudio...'}, {class: "form-control text_field", required: true})
        .form-group
          %label.control-label.col-md-6 Desde el Periodo:
          .col-md-12 
            = f.select(:periodo_id, @periodos.collect{|o| [ o.id, o.id ] }, { include_blank: 'Selecciona Periodo...'}, {class: "form-control text_field", required: true})

        .modal-footer
          %a.btn{data: {dismiss: 'modal'}} Cancelar
          = f.submit class: 'btn btn-primary', value: 'Guardar'
