- @planes = Plan.where(escuela_id: @escuela.id)
- @periodos = @escuela.periodos.order('inicia DESC')
- if current_admin.altos? #and @estudiante.planes.count < 3
  %b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Agregar Nuevo Plan de Estudio'}
    = link_to('javascript:void(0)', { class: 'text-success m-1', :onclick => "return $('#nuevo_plan_periodo_#{@escuela.id}').modal();", 'data_toggle' => 'modal' }) do
      = glyph "plus"

  .modal.hideble.fade{'aria-hidden': false, id: "nuevo_plan_periodo_#{@escuela.id}"}
    - @hp = Historialplan.new
    - @hp.estudiante_id = @estudiante.id
    = render '/admin/historialplanes/form'
%b Planes:

%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md
  -# @estudiante.historialplanes.order("periodo_id DESC").each do |hp|
  -# @estudiante.historialplanes.joins(:plan).where("planes.escuela_id = '#{@escuela.id}'").order("periodo_id DESC").each do |hp|
  - @estudiante.historialplanes.por_escuela(@escuela.id).order("periodo_id DESC").each do |hp|
    %tr
      %th
        = hp.descripcion
        - if current_admin.mas_altos?
          %b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Editar plan de estudio'}
            = link_to('javascript:void(0)', {onclick: "return $('##{hp.plan_id}_periodo').modal();", 'data_toggle' => 'modal'}) do
              = glyph 'edit'
          %b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Eliminar plan de estudio'}
            = link_to(hp, method: :delete, 'data-confirm' => '¿Está seguro de eliminar el plan de estudio para el estudiante?', class: 'text-danger') do
              = glyph 'trash'
          .modal.hide.fade{tabindex: "-1", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden'=> false, id: "#{hp.plan_id}_periodo"}
            - @hp = hp
            - @accion = 'update'
            = render '/admin/historialplanes/form'
