- if @admin and @admin.super? and @estudiante.planes.count < 3
  %br
  %b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Agregar Nuevo Plan de Estudio'}
    = link_to('javascript:void(0)', { class: 'btn btn-success btn-sm', :onclick => "return $('#nuevo_plan_periodo').modal();", 'data_toggle' => 'modal' }) do
      = glyph "plus"

  .modal.hideble.fade#nuevo_plan_periodo{'aria-hidden'=> false}
    - @hp = Historialplan.new
    - @hp.estudiante_id = @estudiante.id
    = render '/admin/historialplanes/form'
%b Planes:
%br
%table.table.table-striped.table-sm.table-hover.table-responsive-md
  - @estudiante.historialplanes.order("periodo_id DESC").each do |hp|
    %tr
      %th
        = hp.descripcion
        - if @admin and @admin.super?
    
          %b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Editar'}
            = link_to('javascript:void(0)', {onclick: "return $('##{hp.plan_id}_periodo').modal();", 'data_toggle' => 'modal'}) do
              = glyph 'edit'

          %b.tooltip-btn{'data_toggle'=>'tooltip', title: 'Eliminar'}
            = link_to(hp, method: :delete, 'data-confirm' => '¿Está Seguro?') do
              .text-danger= glyph 'trash'
          .modal.hide.fade{tabindex: "-1", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden'=> false, id: "#{hp.plan_id}_periodo"}
            - @hp = hp
            - @accion = 'update'
            = render '/admin/historialplanes/form'
