<p id="notice"><%= notice %></p>

<p>
  <b>Cl estudiante:</b>
  <%= @cal_estudiante_tipo_plan.cl_estudiante %>
</p>

<p>
  <b>Tipo plan:</b>
  <%= @cal_estudiante_tipo_plan.tipo_plan %>
</p>


<%= link_to 'Edit', edit_cal_estudiante_tipo_plan_path(@cal_estudiante_tipo_plan) %> |
<%= link_to 'Back', cal_estudiante_tipo_planes_path %>
