.modal.fade#clonar_programacion{'aria-hidden': true, role: :dialog, tabindex: "-1" }
  .modal-dialog
    .modal-content
      .alert.alert-info
        %button.close{"aria-label": "Cerrar", "data-dismiss": :modal, type: :button}
          %span{"aria-hidden": true} ×
        %h4.text-center Clonar Periodo
      .modal-body

        = form_tag(clonar_programacion_escuelas_path, class: 'form-horizontal', id: 'form_clonar') do
          = hidden_field_tag :id, @escuelas.first.id
          .modal-body
            .control-group
              %span.control-label
                Período Actual:
              .controls
                = text_field_tag :actual, current_periodo.id, readonly: true, disabled: true, class: 'form-control'
            %br
            .control-group
              %span.control-label Clonar Períodos:
              .controls
                =# collection_select nil, :nuevo, Periodos.all.order(inicia: :desc), :id, :id, {:prompt => 'Seleccione Período'}, { class: 'form-control', required: true }
                = grouped_collection_select nil, :periodo_id, @escuelas.sort {|a,b| b <=> a}, :periodos, :id, :id, :id, {:prompt => "--- Selecciona el período que desea clonar ---"}, { class: 'form-control hideble mt-md-3', required: true}
            .control-group.mt-3
              %span.control-label
                %label.btn.btn-info.btn-sm
                  ¿Clonar Profesores?:
                  = check_box_tag :profesores
            .control-group.mt-3
              %span.control-label
                %label.btn.btn-info.btn-sm
                  ¿Clonar Horarios?:
                  = check_box_tag :horarios

          .modal-footer
            %a.btn.btn-sm.btn-outline-secondary{data: {dismiss: 'modal'}} Cancelar
            = submit_tag 'Guardar', class: 'btn btn-sm btn-outline-primary', 'data-confirm': "¿Seguro que desea clonar la planificación del periodo anterior. Se conservarán las secciones ya existentes."
