= link_to new_escuela_path, class: 'btn btn-outline-success btn-sm tooltip-btn', 'data-toggle': :tooltip, title: 'Agregar Nueva Escuela' do
  = glyph 'plus'
  Agregar

%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr.text-center
      %th Id
      %th Descripción
      %th.tooltip-btn{'data_toggle': :tooltip, title: 'Total Secciones Periodo actual'} Sec
      %th.tooltip-btn{'data_toggle': :tooltip, title: 'Total Inscritos Periodo actual'} Inscritos
      %th{width: '10%'} Opciones
      - if current_admin.maestros?
        %th Inscripción
        %th Retiros
        %th Cambio Secciones
  %tbody
    - @escuelas.each do |escuela|
      - @ins = escuela.inscripcionsecciones.del_periodo(current_periodo.id)
      %tr
        %td.align-middle= link_to escuela.id, escuela_path(escuela) 
        %td.align-middle= escuela.descripcion
        %td.align-middle.text-right= @ins.secciones_creadas.count#escuela.secciones.del_periodo(current_periodo.id).count
        %td.align-middle.text-right= @ins.estudiantes_inscritos.count
        %td.align-middle
          - if (current_admin and current_admin.autorizado? 'Escuelas', 'destroy')
            - if !(escuela.inscripciones.any?)
              = link_to escuela_path(escuela), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm float-right', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
                .text-danger= glyph 'trash'
            - else
              .btn.btn-sm.float-right.text-muted.tooltip-btn{'data-toggle': :tooltip, title: 'Elimine las inscripciones para activar la opción', 'data-placement': :left}= glyph 'trash'
          - if (current_admin and current_admin.autorizado? 'Escuelas', 'update')
            = link_to edit_escuela_path(escuela), class: 'btn btn-sm float-right', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
              = glyph 'pencil'
          = link_to escuela_path(escuela), class: 'btn btn-sm float-right', title: "#{ t('.show', default: t('helpers.links.show')) }" do
            = glyph 'search'

          - if current_admin.maestros?
            %td= agregar_onoffswitch 'Habilitar Inscripción', "inscrip#{escuela.id}", set_inscripcion_abierta_escuela_path(escuela.id), escuela.inscripcion_abierta

            %td= agregar_onoffswitch 'Habilitar Retiro y Eliminación Asignaturas', "retiro#{escuela.id}", set_habilitar_retiro_asignaturas_escuela_path(escuela.id), escuela.retiro_asignaturas_habilitado?

            %td= agregar_onoffswitch 'Habilitar Cambio de Sección', "cambioSeccion#{escuela.id}", set_habilitar_cambio_seccion_escuela_path(escuela.id), escuela.cambio_seccion_habilitado?
