
.form-group
  = link_to t('.back', default: t("helpers.links.back")), escuelas_path, class: 'btn btn-outline-secondary btn-sm'

  - if (current_admin and current_admin.autorizado? 'Escuelas', 'update')
    = link_to t('.edit', default: t("helpers.links.edit")), edit_escuela_path(@escuela), class: 'btn btn-outline-info btn-sm'
  - if !(@escuela.inscripciones.any?)
    = link_to escuela_path(@escuela), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-outline-danger btn-sm' do
      = glyph 'trash'
      Eliminar
  - else
    .btn.btn-sm.disabled.btn-outline-secondary.tooltip-btn{'data-toggle': :tooltip, title: 'Elimine las inscripciones para activar la opción', 'data-placement': :left}
      = glyph 'trash'
      Eliminar

%nav
  .nav.nav-tabs
    = link_to 'Profesores', "#profes", "data-toggle": :tab, class: "nav-item nav-link active"
  .tab-content
    .tab-pane#profes.border.p-3.border-top-0.active
      = render partial: '/admin/profesores/index', locals: {profesores: @escuela.profesores}

