= form_for @inscripcionperiodo, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :periodo_id, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :periodo_id, class: 'text_field form-control'
  .form-group
    = f.label :estudiante_id, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :estudiante_id, class: 'text_field form-control'
  .form-group
    = f.label :tipo_estado_inscripcion_id, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :tipo_estado_inscripcion_id, class: 'text_field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), inscripcionperiodos_path, class: 'btn btn-default'