%p#notice= notice

%p
  %b References:
  = @inscripcionperiodo.references
%p
  %b References:
  = @inscripcionperiodo.references
%p
  %b References:
  = @inscripcionperiodo.references

= link_to 'Edit', edit_inscripcionperiodo_path(@inscripcionperiodo)
\|
= link_to 'Back', inscripcionperiodos_path
