- model_class = Departamento

- if current_usuario and current_admin.mas_altos?
  = btn_add_success new_departamento_path, 'Agregar Nuevo Departamento', 'Nuevo'

%table#dataTableDpto.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      %th Escuela
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:descripcion)
      %th Cátedra
      %th.tooltip-btn{'data_toggle'=> :tooltip, title: 'Total de asignaturas para el periodo actual'} Asigs
      %th.tooltip-btn{'data_toggle'=> :tooltip, title: 'Total de secciones para el periodo actual'} Seccs 
      %th.tooltip-btn{'data_toggle'=> :tooltip, title: 'Total de inscripciones para el periodo actual'} Inscr
      %th Actividad
      %th Opciones
  %tbody

    - @departamentos.each do |departamento|
      %tr
        %td= departamento.escuela_id
        %td= departamento.id
        %td= departamento.descripcion
        %td
          %table.table
            - departamento.catedras.each do |c| 
              %tr
                %td= "#{c.id} - #{c.descripcion}"
        %td= departamento.asignaturas.count
        %td= departamento.secciones.del_periodo(current_periodo.id).count
        %td= departamento.inscripcionsecciones.del_periodo(current_periodo.id).count
        %td=l departamento.updated_at, format: :short
        %td
          = link_to departamento_path(departamento), class: 'btn btn-sm', title: "#{ t('.show', default: t('helpers.links.show')) }" do
            = glyph 'info-sign'
          = link_to edit_departamento_path(departamento), class: 'btn btn-sm', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          - if current_admin.ninja?
            = link_to departamento_path(departamento), method: :delete, data: { confirm: 'Esta acción eliminará irreversiblemente tadas las asignaturas y asociaciones con cátedras del sistema. ¿Está Seguro?'}, class: 'btn btn-sm', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
              .text-danger= glyph 'trash'

:javascript

  $(document).ready(function() {

    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
      $($.fn.dataTable.tables( true ) ).css('width', '100%');
      $($.fn.dataTable.tables( true ) ).DataTable().columns.adjust().draw();
    } );

    $('#dataTableDpto').DataTable({
      scrollY: 300,
      // pageLength: 100,
      // lengthChange: false,
      paging: false,
      responsive: true,
      /* dom: '<"html5buttons"B>lTfgitp',
      buttons: [
        {extend: 'excel', title: 'ExcelListaSeccion'},
        {extend: 'pdf', title: 'PDFListaSeccion'}

        {extend: 'print',
          customize: function (win){
            $(win.document.body).addClass('white-bg');
            $(win.document.body).css('font-size', '10px');

            $(win.document.body).find('table')
              .addClass('compact')
              .css('font-size', 'inherit');
        }
        } 
      ], */
      language: 
        {
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ registros",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar:",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }

    });
  } );