- model_class = Departamento

%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:descripcion)
      %th Cátedra
      %th T. Asig
      %th T. Secc
      %th T. Inscr
      %th Creación
      %th Opciones
  %tbody
    - @departamentos.each do |departamento|
      %tr
        %td= departamento.id
        %td= departamento.descripcion
        %td= departamento.catedras.collect{|c| c.descripcion}.join(' | ')
        %td= departamento.asignaturas.count
        %td= departamento.secciones.count
        %td= departamento.inscripcionsecciones.count
        %td=l departamento.created_at, format: :long
        %td
          = link_to departamento_path(departamento), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do
            = glyph 'info-sign'
          = link_to edit_departamento_path(departamento), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'          
          = link_to departamento_path(departamento), method: :delete, data: { confirm: 'Esta acción eliminará irreversiblemente tadas las asignaturas y asociaciones con cátedras del sistema. ¿Está Seguro?'}, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            .text-danger{style:"color:red;"}= glyph 'trash'

= link_to t('.new', default: t("helpers.links.new")), new_departamento_path, class: 'btn btn-primary'
