- model_class = Departamento

- if current_usuario and current_usuario.administrador.mas_altos?
  = btn_add_success new_departamento_path, 'Agregar Nuevo Departamento', 'Nuevo'

%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      %th Escuela
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:descripcion)
      %th Cátedra
      %th
        = content_tag :b, class: 'tooltip-btn', 'data_toggle'=> :tooltip, title: 'Total de asignaturas para el periodo actual' do
          Asigs
      %th 
        = content_tag :b, class: 'tooltip-btn', 'data_toggle'=> :tooltip, title: 'Total de secciones para el periodo actual' do
          Seccs
      %th
        = content_tag :b, class: 'tooltip-btn', 'data_toggle'=> :tooltip, title: 'Total de inscripciones para el periodo actual' do
          Inscr
      %th Actividad
      %th Opciones
  %tbody

    - @departamentos.each do |departamento|
      %tr
        %td= departamento.escuela_id
        %td= departamento.id
        %td= departamento.descripcion
        %td
          %table.table
            - departamento.catedras.each do |c| 
              %tr
                %td= "#{c.id} - #{c.descripcion}"
        %td= departamento.asignaturas.count
        %td= departamento.secciones.count
        %td= departamento.inscripcionsecciones.count
        %td=l departamento.updated_at, format: :short
        %td
          = link_to departamento_path(departamento), class: 'btn btn-sm', title: "#{ t('.show', default: t('helpers.links.show')) }" do
            = glyph 'info-sign'
          = link_to edit_departamento_path(departamento), class: 'btn btn-sm', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          - if current_usuario.administrador.ninja?
            = link_to departamento_path(departamento), method: :delete, data: { confirm: 'Esta acción eliminará irreversiblemente tadas las asignaturas y asociaciones con cátedras del sistema. ¿Está Seguro?'}, class: 'btn btn-sm', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
              .text-danger{style:"color:red;"}
              = glyph 'trash'

