- model_class = Departamento

.border.p-3
  - @catedradepartamento = Catedradepartamento.new(departamento_id: @departamento.id)

  = render file: '/admin/catedradepartamentos/index'

.form-group.mt-3
  = link_to departamentos_path, class: 'btn btn-outline-secondary ml-2' do
    = glyph 'chevron-left'
    = t('.back', default: t("helpers.links.back"))
  - if current_admin.maestros?
    = link_to edit_departamento_path(@departamento), class: 'btn btn-outline-info ml-2' do
      = glyph 'edit'
      = t('.edit', default: t("helpers.links.edit"))

  - if current_admin.ninja?
    = link_to departamento_path(@departamento), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-outline-danger ml-2' do
      = glyph 'trash'
      = t('.destroy', default: t("helpers.links.destroy"))
  - if current_admin.mas_altos?
    = link_to new_asignatura_path, class: 'btn btn-outline-success ml-2' do 
      = glyph 'plus'
      Asignatura