= form_for @asignatura, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :id, class: 'control-label col-md-2', value: 'Identificador'
    .col-md-10
      = f.text_field :id, class: 'text_field form-control col-md-2 upcase', autofocus: true, placeholder: "ALEI", size: 10, required: true, maxlength: 10
      %small.text-muted.font-italic Máximo 10 catacteres alfanuméricos (Caracteres Especiales No permitidos)
  .form-group
    = f.label :descripcion, class: 'control-label col-md-2', value: 'Descripción'
    .col-md-10
      = f.text_field :descripcion, class: 'text_field form-control', placeholder: 'Alemán I', required: true
  .form-group
    = f.label :departamento_id, class: 'control-label col-md-2'
    .col-md-10
      = f.select(:departamento_id, Departamento.all.collect{|o| [ "#{o.escuela.descripcion} - #{o.descripcion}", o.id ] }, { include_blank: 'Selecciona Departamento...'}, {class: "form-control text_field", required: true})
  .form-group
    = f.label :catedra_id, class: 'control-label col-md-2'
    .col-md-10
      = f.select(:catedra_id, Catedra.all.collect{|o| [ "#{o.id} - #{o.descripcion}", o.id ] }, { prompt: 'Selecciona Cátedra...'}, {class: "form-control text_field", required: true})
  .form-group
    = f.label :tipo, class: 'control-label col-md-2', value: 'Tipo de asignatura'
    .col-md-10
      .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
        - Tipoasignatura.order("created_at DESC").all.each do |asignatura| 
          %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: asignatura.descripcion.titleize}
            = radio_button_tag '[asignatura]tipoasignatura_id', asignatura.id, false, required: true
            = asignatura.id
      =# f.select(:tipoasignatura_id, Tipoasignatura.all.collect{|tipo| [tipo.descripcion.titleize,tipo.id]}, {prompt: 'Selecciona tipo Asignatura...'}, {required: true, class: "form-control text_field"})

  .form-group
    = f.label :tipo, class: 'control-label col-md-2', value: 'Tipo de calificación'
    .col-md-10
      .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
        - Asignatura.calificaciones.map do |k,v| 
          %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: k.titleize}
            = radio_button_tag '[asignatura]calificacion', k, false, required: true
            = k[0].upcase
  .form-group
    = f.label :id_uxxi, class: 'control-label col-md-2', value: 'Código Uxxi'
    .col-md-10
      = f.text_field :id_uxxi, class: 'text_field form-control'
  .form-group
    = f.label :creditos, class: 'control-label col-md-2', value: 'Créditos'
    .col-md-10
      = f.number_field :creditos, class: 'text_field form-control', in: 0...21, step: 1
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), :back, class: 'btn btn-default'


:javascript

  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
    node.val(node.val().replace(/[^A-Z0-9]/g,'') );
    });