
.tab-pane.fade{class: @mat_activa, id: "mat_#{@mat.id}#{@pcis}", "aria-labelledby": "mat_#{@mat.id}_tab#{@pcis}", :role => "tabpanel"}
	.border.p-md-2
		%b
			= "Total Secciones:#{@secciones.count}"
			= link_to 'javascript:void(0)', onclick: "$('#_seccionasignatura_id').val('#{@mat.id}');$('#nueva_seccion_titulo').html('Nueva Sección para #{@mat.descripcion}');$('#nueva_seccion').modal();", class: 'tooltip-btn float-left mr-md-3 btn btn-sm btn-outline-success', 'data_toggle': :tooltip, title: 'Agregar Sección' do
				.text-success= glyph :plus
		
		- if @secciones.count > 0
			%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
				%thead
					%tr
						%th.text-center T
						%th.text-center Sec.
						%th Profesor Tutor (Calificador)
						%th{style: 'width: 25%'} Profesores Secundarios
						%th.text-center Capacidad
						%th Estado
						- if current_admin and current_admin.altos?
							%th Opciones
				%tbody
					- @secciones.each do |seccion|
						%tr
							%td.align-middle.text-center.tooltip-btn{'data_toggle': :tooltip, title: seccion.tipo_seccion.descripcion.titleize}= seccion.tipo_seccion_id.upcase
							%td.align-middle.text-center= link_to seccion.numero, seccion_path(seccion.id)
							%td.align-middle= render partial: '/admin/secciones/descripcion_profesor_asignado_edit', locals: {seccion: seccion}
							%td.align-middle= render partial: '/admin/secciones/tabla_profesores_secundarios', locals: {seccion: seccion}
							%td.align-middle.text-center= render partial: '/admin/secciones/cambiar_capacidad', locals: {seccion: seccion}
							%td.align-middle
								-if seccion.calificada
									= colocar_numeros_seccion seccion
								- else
									%span.badge.badge-info Por calificar
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Sin Calificar'}
										%span.badge.badge-dark= seccion.total_sin_calificar
							- if current_admin #and current_admin.altos? 
								%td.align-middle
									= render partial: 'admin/secciones/panel_detalle_opciones', locals: {seccion: seccion}