.tab-pane.fade{class: @mat_activa, id: "mat_#{@mat.id}", "aria-labelledby" => "mat_#{@mat.id}-tab", :role => "tabpanel"}

	.border
		- if @secciones.count > 0
			%table.table.table-bordered.table-striped.table-sm.table-hover
				%thead
					%tr
						%th T
						%th Sec.
						%th Profesor Tutor (Calificador)
						%th{style: 'width: 35%'} Profesores Secundarios
						%th Capacidad
						%th Estado
						- if @admin and @admin.altos?
							%th Opciones
				%tbody
					- @secciones.each do |seccion|
						%tr
							%td.tooltip-btn{'data_toggle': :tooltip, title: seccion.tipo_seccion.descripcion.titleize}= seccion.tipo_seccion_id.upcase
							%td= seccion.numero
							%td
								= "#{seccion.descripcion_profesor_asignado}"
								- if @editar_asignaturas
									%b.tooltip-btn{'data_toggle': :tooltip, title: 'Actualizar Tutor-Calificador'}
										= link_to seleccionar_profesor_seccion_path(seccion.id), {role: 'button'} do
											= glyph 'pencil'
											= glyph 'user'

							%td
								-seccion.profesores.each do |p|
									%p
										= p.descripcion
										- if @editar_asignaturas

											%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Desasignar Este Profesor'}
												
												= link_to "#{desasignar_profesor_secundario_seccion_path(seccion.id)}?profesor_id=#{p.usuario_id}", {'data_confirm' => "¿Está seguro de esta acción?"},{role: 'button'} do
													%span.glyphicon.glyphicon-minus.text-danger
													%span.glyphicon.glyphicon-user.text-danger

								%b.tooltip-btn{'data_toggle': :tooltip, title: 'Agregar Profesor Secundario'}
									- if @editar_asignaturas
										= link_to "#{seleccionar_profesor_seccion_path(seccion.id)}?sec=true", {class: 'btn-success btn-sm'},{role: 'button'} do
											= glyph 'plus'
											= glyph 'user'
							%td
								- @seccion = seccion
								= render '/admin/secciones/cambiar_capacidad'

							%td
								-if seccion.calificada 
									%span.badge.badge-success Calificada
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Aprobados'}
										%span.badge
											= seccion.total_aprobados
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Reprobados'}
										%span.badge
											= seccion.total_reprobados
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Perdidas Por Inasistencias'}																		
										%span.badge= seccion.total_perdidos
								- else
									%span.badge.badge-info Por calificar
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Sin Calificar'}
										%span.badge.badge-dark= seccion.total_sin_calificar
							- if @current_admin and @current_admin.altos? 
								%td
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Descargar Acta de Examen en Excel'}
										= link_to acta_examen_excel_descargar_path(seccion.id), class: 'btn btn-info btn-success btn-sm', role: :button do
											= glyph 'download-alt'
											= glyph 'list'
											X

									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Descargar Acta de Examen'}
										= link_to acta_examen_descargar_path(seccion.id), class: 'btn btn-info btn-sm', role: :button do
											= glyph 'download-alt'
											= glyph 'list'

									%b.tooltip-btn{'data_toggle': :tooltip, title: 'Ver Detalle / Calificar'}
										= link_to seccion_path(seccion), class: 'btn btn-info btn-sm', role: :button do
											= content_tag(:i, "", class: " icon-white")
											= glyph 'eye-open'
											= glyph 'list'
											= glyph 'check'
											
									%b.tooltip-btn{'data_toggle': :tooltip, title: 'Eliminar Seccion'}
										= link_to "", {href: seccion_path(seccion), class: 'btn btn-danger btn-sm', data: {confirm: "Se perderan los estudiantes inscritos en la sección, ¿Está seguro de esta acción?"}, method: :delete} do
											= glyph 'trash'
									- if current_usuario.administrador.maestros?
										-if seccion.calificada											
											%b.tooltip-btn{'data_toggle': :tooltip, title: 'Habilitar para Calificar Nuevamente'}
												= link_to habilitar_calificar_principal_admin_path(seccion.id), {class: 'btn btn-info btn-sm'}, {role: 'button'} do
													= glyph 'off'
													= glyph 'list'
										
											
		- if @editar_asignaturas
			- @seccion = Seccion.new
			=render partial: '/admin/secciones/form'
