
.col-md-3
  %nav.mt-md-3{style: 'max-height: 500px;overflow-y: scroll;'}
    .nav.nav-pills.flex-column{role: :tablist, "aria-orientation": :vertical}
      - @departamentos.each_with_index do |dep,i|
        -activa = (i.eql? 0) ? "active" : ""
        = link_to dep.descripcion_completa, "#dep_#{dep.id}", "data-toggle"=> "tab", class: "#{activa} nav-item nav-link"
.col-md-9{style: 'max-height: 600px;overflow-y: scroll;'}
  .tab-content
    - @departamentos.each_with_index do |dep,i|
      -activa = (i.eql? 0) ? "active" : ""
      .tab-pane{class: activa, id: "dep_#{dep.id}"}

        %table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
          %thead
            %tr
              %th ID
              %th Descripción
              %th Cátedra
              %th Tipo
              %th U. Créditos
              %th Cód. UXXI
              %th Secciones
              %th{style: 'width:200px;'} Opciones

          - dep.asignaturas.order("orden ASC").each do |asignatura|
            - activa = asignatura.activa ? 'table-success' : ''
            %tr.filtrables{class: activa}
              %td= asignatura.id
              %td= asignatura.descripcion
              %td= asignatura.catedra.descripcion
              / %td=# asignatura.anno
              %td= asignatura.tipoasignatura.descripcion.titleize
              %td= asignatura.creditos
              %td= asignatura.id_uxxi
              %td
                %table
                  %tr
                    - asignatura.secciones.del_periodo(current_periodo).each do |s| 
                      %td= s.numero
                    %td.tooltip-btn{'data_toggle': :tooltip, title: 'Agregar Sección'}
                      = link_to "#{new_seccion_path}?asignatura_id=#{asignatura.id}&back=#{asignaturas_path}" do
                        .text-success= glyph :plus
              %td
                .row
                  .tooltip-btn{'data_toggle': :tooltip, title: 'Editar Asignatura'}
                    = link_to edit_asignatura_path(asignatura), class: 'btn btn-sm mr-md-1', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
                      = glyph 'pencil'


                  - if false
                    = link_to asignatura_path(asignatura), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
                      .text-danger= glyph 'trash'
                  - @asignatura = asignatura
                  .mt-1= render '/admin/asignaturas/onoffswitch'
    



