.nav.bg-secondary.p-md-1
  .col-md-1
    - if current_admin.mas_altos?
      = btn_add_success new_asignatura_path, 'Agregar Nueva Agirnatura', 'Nueva'
  
  .col-md-5
    = text_field_tag 'filtro', nil ,{onkeyup: "filtrar();", placeholder: "Filtrar Contenido...", class: 'form-control form-control-sm'}
  .col-md-3
    %span#text.text-light.align-middle
- if @escuelas.count > 1
  = render '/admin/principal_admin/tabs_estructura/escuelas'
- else
  - @asignaturas = @escuelas.first.asignaturas
  = render 'admin/asignaturas/index_colocar_tabla'

= render 'admin/secciones/modal_form'

:javascript

  function filtrar() {
    var filtro = $('#filtro').val().toLowerCase() 
    var total_mach = 0
    var ids = ""
    $("tr.filtrables").each(function(){
      var temp = $(this).text().toLowerCase();
      if (temp.match(filtro) == null) {
        $(this).hide();
      }else {
        $(this).show();
        total_mach += 1;
        ids = ids + $(this).find('td').first().text() + ",";
      }
      $('#text').text(total_mach+" coincidencias");
    });
  };


  function switches(url, id){
    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'json', 
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}  
    });
    var ele = $("#switch_"+id).parents('tr');
    if ($("#switch_"+id).is(':checked')){
      ele.addClass("table-success");      
    }else{
      ele.removeClass("table-success");
    }      
  }
