= render '/admin/asignaturas/descripcion_general'

%nav
  .nav.nav-tabs
    - if @asignatura.secciones.any?
      = link_to 'Histórico de secciones', "#secciones", "data-toggle"=> "tab", class: "nav-item nav-link"
    - if @bitacoras.any?
      = link_to 'Bitácora', "#bitacora", "data-toggle"=> "tab", class: "nav-item nav-link"
  .tab-content
    - if @asignatura.secciones.any?
      .tab-pane#secciones
        = render '/admin/secciones/index_to_asinatura'
    - if @bitacoras.any?
      .tab-pane#bitacora
        = render '/admin/bitacoras/index'

.form-group.mt-3
  = link_to asignaturas_path, class: 'btn btn-outline-secondary ml-2' do
    = glyph 'chevron-left'
    = t('.back', default: t("helpers.links.back"))
  - if current_admin.maestros?
    = link_to edit_asignatura_path(@asignatura), class: 'btn btn-outline-info ml-2' do
      = glyph 'edit'
      = t('.edit', default: t("helpers.links.edit"))

  - if current_admin.ninja?
    = link_to asignatura_path(@asignatura), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-outline-danger ml-2' do
      = glyph 'trash'
      = t('.destroy', default: t("helpers.links.destroy"))
