.row.mb-2
  .col-md-1.pt-3= btn_toggle 'btn-outline-success', 'chevron-left', asignaturas_path, 'Ir a la vista general de las asignaturas', 'Asignaturas'      

  .col-md-11
    = render '/admin/asignaturas/descripcion_general'

- secciones = @asignatura.secciones.del_periodo(current_periodo.id)
%nav
  .nav.nav-tabs
    - if secciones.any?
      = link_to 'Periodo Actual', "#seccionesActual", "data-toggle"=> "tab", class: "nav-item nav-link active show"
    - if @asignatura.secciones.any?
      = link_to 'Histórico de secciones', "#secciones", "data-toggle"=> "tab", class: "nav-item nav-link"
    - if @bitacoras.any?
      = link_to 'Bitácora', "#bitacora", "data-toggle"=> "tab", class: "nav-item nav-link"
  .tab-content
    - if secciones.any?
      .tab-pane#seccionesActual.active.show
        .row
          .col-md-7
            %h6.titulo.m-2 Secciones:
            = render partial: '/admin/secciones/index_to_asinatura', locals: {secciones: secciones, historico: false} if secciones.any?

          .col-md-5
            = render '/admin/horarios/horario_secciones'

    - if @asignatura.secciones.any?
      .tab-pane#secciones
        = render partial: '/admin/secciones/index_to_asinatura', locals: {secciones: @asignatura.secciones.where("periodo_id != '#{current_periodo.id}'"), historico: true}
    - if @bitacoras.any?
      .tab-pane#bitacora
        = render '/admin/bitacoras/index'

= render '/admin/secciones/modal_seleccionar_profesor'


:javascript

  $( ".conHorario" ).hover(
    function() {
      let id = $( this ).attr('id')
      $('.jqs-period-info').fadeOut( 1 );
      // $('.jqs-period-info').filter(function(){return this.innerText.includes(id)}).fadeIn( 1 );
      $('.jqs-period-info').each(function(){
        if(this.innerText.includes(id)){
          $(this).find('.profDesc').removeClass('d-none');
          $(this).fadeIn( 1 );
        }
      })
    }, function() {
      $('.profDesc').addClass('d-none');
      $('.jqs-period-info').fadeIn( 1 );
    }
  );