- model_class = Asignatura
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:descripcion)
    %dd
      %pre.prettyprint= @asignatura.descripcion
    %dt.label.label-default= model_class.human_attribute_name(:anno)
    %dd
      %pre.prettyprint= @asignatura.anno
    %dt.label.label-default= model_class.human_attribute_name(:orden)
    %dd
      %pre.prettyprint= @asignatura.orden
    %dt.label.label-default= model_class.human_attribute_name(:departamento_id)
    %dd
      %pre.prettyprint= @asignatura.departamento_id
    %dt.label.label-default= model_class.human_attribute_name(:catedra_id)
    %dd
      %pre.prettyprint= @asignatura.catedra_id
    %dt.label.label-default= model_class.human_attribute_name(:id_uxxi)
    %dd
      %pre.prettyprint= @asignatura.id_uxxi
    %dt.label.label-default= model_class.human_attribute_name(:creditos)
    %dd
      %pre.prettyprint= @asignatura.creditos

.form-group
  = link_to t('.back', default: t("helpers.links.back")), asignaturas_path, class: 'btn btn-default'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_asignatura_path(@asignatura), class: 'btn btn-default'
  = link_to t('.destroy', default: t("helpers.links.destroy")), asignatura_path(@asignatura), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'