.border.p-3
	%h5.alert.alert-danger.titulo.text-center PROCESOS DE ACCESSO RESTRINGIDO
	- Restringida::GRUPOS.each do |gr| 
		- restringidas = Restringida.where(grupo: gr).order([controlador: :desc, accion: :desc])
		- if restringidas.any?
			%h6.titulo.text-center= gr.titleize
			%table#dataTableCat.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3{style: 'width:100%'}
				%tboby
					- restringidas.each do |rest| 
						%tr
							%td= "#{rest.nombre_publico} (#{rest.controlador})"

							%td{style: 'width:20%'}
								.onoffswitch
									- autorizado = @usuario.autorizado?(rest.id)
									= check_box nil, :activa, checked: autorizado, class: 'onoffswitch-checkbox', id: "switch#{rest.id}", onChange: "switches('#{set_autorizada_path(rest.id)}?usuario_id=#{@usuario.id}')"
									%label.onoffswitch-label{for: "switch#{rest.id}"}
										%span.onoffswitch-inner
										%span.onoffswitch-switch

:javascript

	function switches(url){
		$.ajax({
			url: url,
			type: 'POST',
			dataType: 'json', 
			beforeSend: function() {
			$('#cargando').modal({keyboard: false, show: true, backdrop: 'static'})
			},
			complete: function(){$('#cargando').modal('hide')}

		});

	}
