= link_to new_comentario_path, class: 'btn btn-sm btn-outline-success' do
  = glyph 'plus'
  Nueva Nota

%table.table.table-striped.table-sm.table-hover.table-responsive-md.mt-3
  %thead
    %tr
      %th{style: 'width: 70%'} Contenido
      %th Para:
      %th Publicada:
      %th
      %th

  %tbody
    - @comentarios.each do |comentario|
      %tr
        %td= raw comentario.contenido
        %td= comentario.estado.capitalize
        %td= "Hace #{distance_of_time_in_words(Time.now, comentario.updated_at)}"
        %td
          = link_to edit_comentario_path(comentario) do
            = glyph 'edit'
        
        %td
          = agregar_onoffswitch 'habilitar', comentario.id, habilitar_comentario_path(comentario.id), comentario.habilitado

        %td
          = link_to comentario, method: :delete, data: { confirm: 'Are you sure?' } do
            .text-danger= glyph 'trash'

%br

= link_to new_comentario_path, class: 'btn btn-sm btn-outline-success' do
  = glyph 'plus'
  Nueva Nota
