= link_to new_comentario_path, class: 'btn btn-sm btn-outline-success' do
  = glyph 'plus'
  Nueva Nota

%table.table.table-striped.table-sm.table-hover.table-responsive-md.mt-3
  %thead
    %tr
      %th{style: 'width: 70%'} Contenido
      %th Para:
      %th Publicada:
      %th
      %th

  %tbody
    - @comentarios.each do |comentario|
      %tr
        %td= raw comentario.contenido
        %td= comentario.estado.capitalize
        %td= "Hace #{distance_of_time_in_words(Time.now, comentario.updated_at)}"
        %td
          = link_to edit_comentario_path(comentario) do
            = glyph 'edit'
        
        %td
          =# agregar_onoffswitch 'habilitar', "switches('#{habilitar_comentario_path(comentario.id)}', '#{comentario.id}')", comentario.id, true


          = content_tag :b, class: 'tooltip-btn', 'data_toggle': :tooltip, title: 'habilitar' do
            .onoffswitch
              - onChange = "switches('#{habilitar_comentario_path(comentario.id)}');"
              = check_box nil, :activa, checked: comentario.habilitado, class: 'onoffswitch-checkbox', id: "swidth_#{comentario.id}", onChange: onChange
              %label.onoffswitch-label{for: "swidth_#{comentario.id}"}
                %span.onoffswitch-inner
                %span.onoffswitch-switch



        %td
          = link_to comentario, method: :delete, data: { confirm: 'Are you sure?' } do
            .text-danger= glyph 'trash'

%br

= link_to new_comentario_path, class: 'btn btn-sm btn-outline-success' do
  = glyph 'plus'
  Nueva Nota


:javascript

  function switches(url){
    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'json', 
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}  
    });
  }