= link_to new_comentario_path, class: 'btn btn-sm btn-outline-success' do
  = glyph 'plus'
  Nueva Nota

%table.table.table-striped.table-sm.table-hover.table-responsive-md.mt-3
  %thead
    %tr
      %th{style: 'width: 70%'} Contenido
      %th Para:
      %th
      %th
      %th

  %tbody
    - @comentarios.each do |comentario|
      %tr
        %td= raw comentario.contenido
        %td= comentario.estado.capitalize
        %td= link_to 'Ver', comentario
        %td= link_to 'Editar', edit_comentario_path(comentario)
        %td= link_to 'Eliminar', comentario, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to new_comentario_path, class: 'btn btn-sm btn-outline-success' do
  = glyph 'plus'
  Nueva Nota
