%p#notice= notice

%p
  %b Contenido:
  = raw @comentario.contenido
%p
  %b Estado:
  = @comentario.estado.capitalize

= link_to 'Editar', edit_comentario_path(@comentario)
\|
= link_to 'Regresar', comentarios_path
