- object_name = objects.first.class.name.downcase if objects and objects.first
- if objects
	- if (object_name.eql? 'asignatura')
		- col =  'col-md-4'
	- elsif (object_name.eql? 'escuela')
		- col =  'col-md-2'
	- else
		- col =  'col-md-3'
	%div{id: "#{object_name}Tabs", class: "tabs #{col}", style: "max-height: 400px;overflow: scroll;"}
		%ul.nav.nav-pills.mb-3.flex-column{role: :tablist, "aria-orientation": 'vertical', id: "pills-#{object_name}-tab"}
			- bloqueado = false
			- objects.each do |obj|
				- obj_activo = (session[object_name].eql? obj.id) ? 'active' : ''
				- if obj.is_a? Catedra and session[:departamento]
					- total_secciones = obj.secciones.del_periodo(current_periodo.id).del_departamento(session[:departamento]).count
				- else
					- total_secciones = obj.secciones.del_periodo(current_periodo.id).count

				%li.nav-item
					- if obj.is_a? Asignatura
						- desc = obj.descripcion_id.upcase
						- if obj.pci? current_periodo.id
							- desc = obj.descripcion_completa.upcase
							- desc += "<span class= 'badge badge-info ml-1'>pci</span>"

						= link_to "##{object_name}_#{obj.id}", "data-toggle": :tab, onclick: "updatePage('#{object_name}', '#{obj.id}');", class: "nav-link #{obj_activo}", id: "#{object_name}_#{obj.id}" do

							= raw desc
							= colocar_total_secciones_badge total_secciones
							%span.badge.badge-light.float-right.mx-1.tooltip-btn{id: "bagCreditos#{obj.id}", 'data-toggle': 'tooltip', title: "U. Créditos"}= obj.creditos 

							- if @ids_aprobadas and @ids_aprobadas.include? obj.id
								%span.badge.badge-secondary.float-right.ml-1 Aprobada

							- elsif @ids_asignaturas and @ids_asignaturas.include? obj.id
								%span.badge.badge-secondary.float-right.ml-1 Previamente Inscrita
							- elsif total_secciones < 1
								- if @controller and @controller.eql? 'secciones'
									= btn_plus_seccion_modal obj
					- else
						- desc = obj.descripcion
						- if controller_name.eql? 'inscripcionsecciones' and obj.is_a? Escuela
							- if obj.inscripcion_cerrada?
								- @dptosTabs = @catTabs = @asigTabs = nil
								.text-muted.alert.alert-danger.p-1
									= desc.upcase
									%span.badge.badge-secondary.float-right Inscripción Cerrada
									= colocar_total_secciones_badge total_secciones
							- else
								- grado = @estudiante.grados.where(escuela_id: obj.id).first
								- if grado.nil? or grado.preinscrito?

									- @dptosTabs = @catTabs = @asigTabs = nil
									.text-muted.alert.alert-danger.p-1
										= desc.upcase
										%span.badge.badge-secondary.float-right Estudiante No confirmado
										= colocar_total_secciones_badge total_secciones

								- else
									= link_to "##{object_name}_#{obj.id}", "data-toggle": :tab, onclick: "updatePage('#{object_name}', '#{obj.id}');", class: "nav-link #{obj_activo}", id: "#{object_name}_#{obj.id}" do
										= desc.upcase
										= colocar_total_secciones_badge total_secciones

						- else
							= link_to "##{object_name}_#{obj.id}", "data-toggle": :tab, onclick: "updatePage('#{object_name}', '#{obj.id}');", class: "nav-link #{obj_activo}", id: "#{object_name}_#{obj.id}" do
								= desc.upcase
								= colocar_total_secciones_badge total_secciones

			- if object_name.eql? 'escuela'
				- if false #bloqueado and objects.count < 2
					.text-muted.alert.alert-danger.p-1
						PCI
						%span.badge.badge-secondary.float-right Estudiante Bloqueado

				- else
					- obj_activo = (session[:escuela].eql? 'pci') ? 'active' : ''
					%li.nav-item
						= link_to "#pci", "data-toggle": :tab, class: "nav-link #{obj_activo}", onclick: "updatePage('#{object_name}', 'pci');", id: "#{object_name}_pci" do
							PCI
							= colocar_total_secciones_badge current_periodo.programaciones.pcis.collect{|pr| pr.secciones.del_periodo(current_periodo.id).count}.sum
