- if current_admin.maestros?
	.border.p-3= render '/admin/principal_admin/index_maestros'
- else
	.border.p-3= render '/admin/principal_admin/tabs_estructura/escuelas'

= render partial: '/admin/usuarios/datos_modal'
= render 'admin/secciones/modal_form'
= render 'admin/secciones/modal_seleccionar_profesor'