%p
	%h3.text-muted
		Período Académico: 
		= "#{current_periodo.id}"
- if current_admin.altos?
	.border.p-3= render '/admin/principal_admin/tabs_estructura/escuelas'

= render partial: '/admin/usuarios/datos_modal'

= render 'admin/secciones/modal_form'