.float-right.m-3= btn_success 'download-alt', "#{constancia_horario_descargar_path(@estudiante.id, 'pdf')}?escuela_id=#{@escuela.id}", "Constancia de Inscripción de #{@nickname}", 'Constancia Inscripción'
%br
%br
%br
%br
= render '/admin/horarios/horario_secciones'
