=# render partial: '/admin/usuarios/datos_modal'

%nav
	.nav.nav-tabs
		= link_to "General", "#general", "data-toggle": :tab, class: 'nav-item nav-link'
		- @estudiante.escuelas.each do |escuela|
			= link_to "#{escuela.descripcion.titleize}", "#pane_#{escuela.id}", "data-toggle": :tab, class: 'nav-item nav-link'
		= link_to "Periodo Actual (#{current_periodo.id})", "#actualPeriodo", "data-toggle": :tab, class: 'nav-item nav-link active'
.tab-content
	- @estudiante.escuelas.each do |escuela|
		- @escuela = escuela
		.tab-pane.border.border-top-0.p-3{id: "pane_#{escuela.id}"}
			- if @estudiante.planes.count > 0
				.border.p-md-3
					%h5 Planes:
					- @estudiante.historialplanes.por_escuela(escuela.id).order('periodo_id DESC').each do |pl| 
						%p= pl.descripcion
			- if @escuela.id.eql? 'IDIO' and @estudiante.combinaciones.any?
				.border.p-md-3
					%h5 Combinación de Idiomas:
					- @estudiante.combinaciones.each do |c| 
						%p= c.descripcion

			- @inscripciones = @estudiante.inscripcionsecciones.joins(:escuela).where("escuelas.id = :e or pci_escuela_id = :e", e: @escuela.id)
			- periodo_ids = @inscripciones.joins(:seccion).group("secciones.periodo_id").count.keys
			- @periodos = Periodo.where(id: periodo_ids).order(inicia: :desc)

			= render partial: '/admin/estudiantes/historial_academico'

		- if false #@escuela.id.eql? 'IDIO' and !@estudiante.combinaciones.any?
			- @idiomas = escuela.departamentos.reject{|i| i.id.eql? 'EG' or i.id.eql? 'TRA'; }
			= render '/admin/estudiantes/actualizar_idiomas'
	
	.tab-pane#actualPeriodo.border.px-3.border-top-0.active.show
		= render '/admin/horarios/horario_secciones'
	.tab-pane#general.border.px-3.border-top-0
		= render partial: '/admin/usuarios/personales_contacto'
		-if @estudiante.citahoraria
			.border.m-md-3.p-md-3
				%h5 Cita Horaria:
				%p
					%b Fecha:
					=#(I18n.localize(Time.now, :format => "%A, %d de %B de %Y - Hora: %I:%M "))#.capitalize()
					=(I18n.localize(@estudiante.cita_horaria.fecha, :format => "%A, %d de %B de %Y")).capitalize()
					= "-"
					%b Hora:
					=(I18n.localize(@estudiante.cita_horaria.fecha, :format => "%I:%M %p")).capitalize()
					=# @estudiante.cita_horaria.hora


