= render partial: '/admin/usuarios/datos_modal'


%nav
	.nav.nav-tabs
		= link_to "General", "#general", "data-toggle": :tab, class: 'nav-item nav-link'
		- @estudiante.escuelas.each do |escuela|
			= link_to "#{escuela.descripcion.titleize}", "#pane_#{escuela.id}", "data-toggle": :tab, class: 'nav-item nav-link'
.tab-content
	- @estudiante.escuelas.each do |escuela|
		- @escuela = escuela
		.tab-pane{id: "pane_#{escuela.id}"}
			.border.mt-3.p-3
				- if @estudiante.planes.count > 0
					.border.p-md-3
						%h5 Planes:
						- @estudiante.planes.each do |pl| 
							%p= pl.descripcion_completa
				- if @escuela.id.eql? 'IDIO'
					- if @estudiante.combinaciones.count < 1
						= render '/admin/estudiantes/actualizar_idiomas'
					- else
						.border.p-md-3
							%h5 Combinación de Idiomas:
							- @estudiante.combinaciones.each do |c| 
								%p= c.descripcion
				= render partial: '/admin/estudiantes/historial_academico'
	.tab-pane#general

		-if @estudiante.citahoraria
			.border.m-md-3.p-md-3
				%h5 Cita Horaria:
				%p
					%b Fecha:
					=#(I18n.localize(Time.now, :format => "%A, %d de %B de %Y - Hora: %I:%M "))#.capitalize()
					=(I18n.localize(@estudiante.cita_horaria.fecha, :format => "%A, %d de %B de %Y")).capitalize()
					= "-"
					%b Hora:
					=(I18n.localize(@estudiante.cita_horaria.fecha, :format => "%I:%M %p")).capitalize()
					=# @estudiante.cita_horaria.hora
