- if @catedras_disponibles and @catedras_disponibles.count > 0
  %b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Agregar C치tedra al departamento'}
    = link_to('javascript:void(0)', { class: 'btn btn-outline-primary btn-sm', :onclick => "return $('#nueva_catedra_departamento').modal();", 'data_toggle' => 'modal' }) do
      = glyph 'plus'
      C치tedra


  .modal.fade#nueva_catedra_departamento{'aria-hidden'=> false}
    .modal-dialog
      .modal-content
        .alert.alert-info
          %h4 Agregar Catedra al departamento actual
        .modal-body
          = form_for(@catedradepartamento, :html => {class: 'form-horizontal'}) do |f|
            - if @departamento
              = f.hidden_field :departamento_id
              .form-group
                = f.label :catedra_id, class: 'control-label col-md-2', value: 'C치tedra:'
                .col-md-12
                  = f.select(:catedra_id, @catedras_disponibles.collect{|o| [ o.descripcion, o.id ] }, { include_blank: 'Selecciona C치tedra...'}, {class: "form-control text_field", required: true})
            - else
              .form-group
                = f.label :departamento, class: 'control-label col-md-2'
                = f.text_field :departamento, class: "form-control text_field col-md-12", autofocus: true, required: true
              .form-group
                = f.label :catedra, class: 'control-label col-md-2'
                = f.text_field :catedra, class: "form-control text_field col-md-12", required: true
            .form-group
              =# f.label :orden, class: 'control-label col-md-2', value: 'Orden:'
              .col-md-12
                = #f.number_field :orden, class: 'text_field form-control', in: 0...11, step: 1, required: true, placeholder: "Orden"
            .modal-footer  
              %a.btn{data: {dismiss: 'modal'}} Cancelar
              = f.submit 'Agregar', class: 'btn btn-primary'
