
- model_class = Catedradepartamento
.page-header
  %h6 Cátedras para el Departamento
%table.table.table-striped.table-sm.table-hover.table-responsive-md.table-bordered
  %thead
    %tr
      %th= model_class.human_attribute_name(:catedra_id)
      - unless controller_name.eql? 'departamentos'
        %th= model_class.human_attribute_name(:departamento_id)
      %th= model_class.human_attribute_name(:orden)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @catedradepartamentos.each do |catdep|
      %tr
        %td= catdep.catedra.descripcion
        - unless controller_name.eql? 'departamentos'
          %td= catdep.departamento_id
        %td=# catdep.orden
        %td
          - unless controller_name.eql? 'departamentos'
            = link_to catdep, class: 'btn btn-sm', title: "#{ t('.show', default: t('helpers.links.show')) }" do
              = glyph 'info-sign'
            = link_to edit_catedradepartamento_path(catdep), class: 'btn btn-sm', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
              = glyph 'pencil'
          = link_to catdep, method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            .text-danger= glyph 'remove'

=# link_to t('.new', default: t("helpers.links.new")), "/catedradepartamentos/new", class: 'btn btn-primary'

= render 'admin/catedradepartamentos/form'
