- model_class = Restringida

%table.table.table-striped
  %thead
    %tr

      %th Controlador
      %th Acción
      %th Grupo
      %th Acceso Libre
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @restringidas.each do |restringida|
      %tr
        %td= restringida.controlador.camelize
        %td= restringida.accion
        %td= restringida.grupo.capitalize
        %td= restringida.acceso_total
        %td
          = link_to restringida_path(restringida), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do
            = glyph 'info-sign'
          = link_to edit_restringida_path(restringida), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          = link_to restringida_path(restringida), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            .text-danger= glyph 'trash'

= link_to t('.new', default: t("helpers.links.new")), new_restringida_path, class: 'btn btn-primary'
