
.fieldset
  %dl 
    Controlador
    %dt.label.label-default= @restringida.controlador
  %dl 
    Acción
    %dt.label.label-default= @restringida.accion
  %dl 
    Nombre Públido
    %dt.label.label-default= @restringida.nombre_publico
  %dl 
    Grupo
    %dt.label.label-default= @restringida.grupo
.form-group
  = link_to 'Regresar', restringidas_path, class: 'btn btn-default'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_restringida_path(@restringida), class: 'btn btn-default'
  = link_to t('.destroy', default: t("helpers.links.destroy")), restringida_path(@restringida), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'