- model_class = Periodo
%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:inicia)
      %th Tipo
      - current_admin.escuelas.each do |e| 
        %th.tooltip-btn.thFiltrables{'data_toggle': :tooltip, title: e.descripcion, class: "fil#{e.id}"}= e.id

      - if current_admin and ((current_admin.autorizado? 'Periodos', 'update') or (current_admin.autorizado? 'Periodos', 'destroy'))
        %th Opciones
  %tbody
    - @periodos.each do |periodo|
      %tr.trFiltrables{id: "tr#{periodo.id}", style: "display:none", class: "regimen#{periodo.tipo_a_letra} tipo#{periodo.letra_final_de_id} periodo_id#{periodo.id}"}
        %td= periodo.id
        %td=l periodo.inicia
        %td= periodo.tipo.titleize
        - current_admin.escuelas.all.each do |e| 
          %td.tdFiltrables{class: "fil#{e.id}"}
            - val = e.inscripcionsecciones.del_periodo(periodo).estudiantes_inscritos.count
            =# link_to_if val > 0, val, "#{inscritos_escuela_periodo_descargar_path(periodo.id)}?escuela_id=#{e.id}", class: 'link', target: "_blank"
            - if false#val > 0
              - e.planes.each do |plan| 
                - totalXPlan = plan.estudiantes.joins(:inscripcionsecciones).joins(:secciones).where("secciones.periodo_id = ?", periodo.id).uniq.count
                - if totalXPlan > 0
                  = link_to "#{exportar_lista_csv_descargar_path(plan)}?periodo_id=#{periodo.id}", class: 'btn btn-sm mx-1 tooltip-btn', target: '_blank', 'data_toggle': :tooltip, title: "Total: #{totalXPlan}"  do
                    = glyph 'download'
                    = plan.id.upcase

            - if val > 0
              - if escupe = Escuelaperiodo.where(escuela_id: e.id, periodo_id: periodo.id).first
                = link_to_if((current_admin and current_admin.autorizado?('Escuelaperiodos', 'index')), raw("#{glyph('download')} #{val}"), escuelaperiodo_path(escupe.id), class: 'tooltip-btn', 'data-toggle': :tooltip, title: 'Total de Inscripciones', 'data-placement': :right )

        - if current_admin and ((current_admin.autorizado? 'Periodos', 'update') or (current_admin.autorizado? 'Periodos', 'destroy'))
          %td
            - if (current_admin.autorizado? 'Periodos', 'update')
              
              = link_to edit_periodo_path(periodo), class: 'btn btn-sm tooltip-btn', 'data-toggle': :tooltip, title: 'Editar Periodo', 'data-placement': :left  do
                = glyph 'pencil'
            - if (current_admin.autorizado? 'Periodos', 'destroy')


              - if (!periodo.inscripciones.any?)
                = link_to periodo_path(periodo), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Está seguro?')) }, class: 'btn btn-sm' do
                  .text-danger= glyph 'trash'
              - else
                .btn.btn-sm.tooltip-btn.disabled{'data-toggle': :tooltip, title: 'Elimine las inscripciones para activar la opción'}
                  .text-muted= glyph 'trash'
