- model_class = Periodo

= btn_add_success new_periodo_path, 'Agregar Nuevo Periodo', 'Nuevo'

%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:inicia)
      %th.tooltip-btn{'data_toggle': :tooltip, title: 'Total de secciones'} Seccs
      %th.tooltip-btn{'data_toggle': :tooltip, title: 'Total de inscripciones'} Inscs
      %th.tooltip-btn{'data_toggle': :tooltip, title: 'Total de aprobados'} Apro
      %th.tooltip-btn{'data_toggle': :tooltip, title: 'Total de Aplazados'} Aplaz
      %th Opciones
  %tbody
    - @periodos.each do |periodo|
      %tr
        %td= periodo.id
        %td=l periodo.inicia
        %td= periodo.secciones.count
        %td= periodo.inscripcionsecciones.count
        %td= Inscripcionseccion.del_periodo(periodo.id).aprobado.count
        %td= Inscripcionseccion.del_periodo(periodo.id).aplazado.count
        %td
          = link_to edit_periodo_path(periodo), class: 'btn btn-sm', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          = link_to periodo_path(periodo), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            .text-danger= glyph 'trash'
