- model_class = Periodo
.page-header
  %h1=t '.title', default: model_class.model_name.human.titleize
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:id)
    %dd
      %pre.prettyprint= @periodo.id
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:inicia)
    %dd
      %pre.prettyprint= @periodo.inicia
    %dt.label.label-default= model_class.human_attribute_name(:culmina)
    %dd
      %pre.prettyprint= @periodo.culmina

.form-group
  = link_to t('.back', default: t("helpers.links.back")), periodos_path, class: 'btn btn-default'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_periodo_path(@periodo), class: 'btn btn-default'
  = link_to t('.destroy', default: t("helpers.links.destroy")), periodo_path(@periodo), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'