%b Escuela:

%div{class: @row}
	%div{class: @col2}
		%ul#pills-escuelas-tab.nav.nav-pills.mb-3{role: :tablist, "aria-orientation": @orientacion, class: @vertical}
			- @escuelas.each do |esc|
				- esc_activo = (session[:esc_id].eql? esc.id) ? 'active' : ''
				%li.nav-item
					= link_to esc.descripcion, "#esc_#{esc.id}", "data-toggle": :tab, onclick: "set_tab('esc_id', '#{esc.id}');", class: "nav-link #{esc_activo}"
			- unless controller_name.eql? 'asignaturas'
				- esc_activo = (session[:esc_id].eql? 'pci') ? 'active' : ''
				%li.nav-item= link_to "PCI", "#pci", "data-toggle": "tab", class: "nav-link #{esc_activo}", onclick: "set_tab('esc_id', 'pci');"

	%div{class: @col10}
		#pills-escuelas-tabContent.tab-content

			- @escuelas.each do |esc|
				- @pcis = nil
				- esc_activo = (session[:esc_id].eql? esc.id) ? 'active show' : ''
				.tab-pane.fade{"aria-labelledby" => "pills-escuelas-tab", role: :tabpanel, class: esc_activo, id: "esc_#{esc.id}"}
					- if esc.inscripcion_abierta or controller_name.eql? 'asignaturas'
						- if current_admin.admin_departamento?
							- @departamentos = current_admin.departamentos
						- else
							- @departamentos = esc.departamentos

						- if controller_name.eql? 'asignaturas'
							- @asignaturas = esc.asignaturas.order(:descripcion)
							= render '/admin/asignaturas/index_colocar_tabla'
						- else
							= render '/admin/principal_admin/tabs_estructura/departamentos'
					- else
						%b.text-muted Inscripción cerrada para la escuela seleccionada
				- unless controller_name.eql? 'asignaturas'
					- esc_activo = (session[:esc_id].eql? 'pci') ? 'active show' : ''
					.tab-pane.fade{"aria-labelledby": "pills-escuelas-tab", role: :tabpanel, id: "pci", class: esc_activo, id: "pci" }
						-# @asignaturas = current_periodo.asignaturas.pcis current_periodo.id
						- @asignaturas = current_periodo.programaciones.pcis.collect{|pr| pr.asignatura}
						- if @asignaturas.any? 
							- @pcis = '_pci'
							= render '/admin/principal_admin/tabs_estructura/asignaturas'
						- else
							%b.text-muted Sin Asignaturas Pci En Este Período

:javascript

	function set_tab(tipo, id){
		$.ajax({
			url: "#{set_tab_principal_admin_index_path}", 
			data: {tipo: tipo, valor: id}, 
			dataType: 'json', 
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}  
			});
	}