= link_to "#mat_#{@mat.id}", "data-toggle"=> "pill", class: "nav-link #{@mat_activa}", "aria-controls" => "mat_#{@mat.id}", :role => "tab", id: "mat_#{@mat.id}-tab", onclick: "set_tab('mat_id', '#{@mat.id}')" do
	= @mat.descripcion
	%span.badge.badge-info= @mat.id_uxxi
	-if @sin_secciones
		.mute
			%span.badge.badge-secondary
				inactiva