= form_for @plan, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :id, class: 'control-label col-md-2', value: 'Identificador:'
    .col-md-10
      = f.text_field :id, class: 'text_field form-control upcase', autofocus: true, placeholder: 'G280', required: true, size: 4, maxlength: 4
      %small.text-muted.font-italic Máximo 4 catacteres alfanuméricos (Caracteres Especiales No permitidos)
  .form-group
    = f.label :descripcion, class: 'control-label col-md-2', value: 'Descripción:'
    .col-md-10
      = f.text_field :descripcion, class: 'text_field form-control', placeholder: 'Lic. Traducción', required: true
  .form-group
    = f.label :escuela_id, class: 'control-label col-md-2'
    .col-md-10
      = f.select(:escuela_id, Escuela.all.collect{|o| [ o.descripcion.titleize, o.id ] }, { prompt: 'Selecciona Escuela...'}, {class: "form-control text_field", required: true})
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), planes_path, class: 'btn btn-default'

:javascript
  $('.upcase').on('input', function(evt) {
    $(this).val(function(_, val) {
      return val.toUpperCase();
    });
  });

  $('.upcase').bind('keyup blur',function(){ 
    var node = $(this);
    node.val(node.val().replace(/[^A-Z0-9]/g,'') ); 
  });  