.border.p-1
  %h6.titulo.text-center Información de la inscripción
  %table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
    %tbody
      %tr
        %th Periodo de la Inscripción: 
        %td= grado.iniciado_periodo_id
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            = link_to 'javascript:void(0)', onclick: "$('#cambiarPeriodoInscripcion#{grado.id_flat}').modal()" do
              = glyph 'pencil'
      %tr
        %th Estado de la Inscripción: 
        %td
          .badge.badge-info= grado.estado_inscripcion.upcase
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            = link_to 'javascript:void(0)', onclick: "$('#cambiarEstadoInscripcion#{grado.id_flat}').modal()" do
              = glyph 'pencil'
      %tr
        %th Tipo de Ingreso:
        %td
          .badge.badge-info= grado.tipo_ingreso
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            = link_to 'javascript:void(0)', onclick: "$('#cambiarTipoIngreso#{grado.id_flat}').modal()" do
              = glyph 'pencil'
      %tr
        %th Inscrito en la UCV:
        %td
          - if grado.inscrito_ucv
            .badge.badge-success Sí
          - else
            .badge.badge-danger No
        - if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
          %td
            = link_to "#{cambiar_inscripcion_grado_path}?estudiante_id=#{@estudiante.id}&escuela_id=#{@escuela.id}&[grado]inscrito_ucv=#{!grado.inscrito_ucv}", method: 'post'  do
              = glyph 'pencil'
%br
- if current_admin and (current_admin.autorizado?('Grados', 'cambiar_inscripcion'))
  - content = render partial: '/admin/grados/form_cambiar_inscripcion', locals: {title: 'Estado de Inscripción:', group: Grado.estado_inscripciones, field_name: 'estado_inscripcion', grade: grado}
  - url = cambiar_inscripcion_grado_path
  = render partial: '/layouts/modal_layout', locals: {url: url, id_modal: "cambiarEstadoInscripcion#{grado.id_flat}", title: 'Cambiar Inscripción', content: content}
  - content = render partial: '/admin/grados/form_cambiar_inscripcion', locals: {title: 'Tipo Inscripción:', group: Grado.tipos_ingreso, field_name: 'tipo_ingreso', grade: grado}
  = render partial: '/layouts/modal_layout', locals: {url: url, id_modal: "cambiarTipoIngreso#{grado.id_flat}", title: 'Cambiar Tipo Ingreso', content: content}
  - content = render partial: '/admin/grados/form_cambiar_inscripcion', locals: {title: 'Período de Inicio:', group: 'periodos', field_name: '', grade: grado}
  = render partial: '/layouts/modal_layout', locals: {url: url, id_modal: "cambiarPeriodoInscripcion#{grado.id_flat}", title: 'Cambiar Periodo', content: content}

