- href = "#{exportar_lista_csv_descargar_path(1)}?grado=#{estado}"
= btn_toggle_download 'btn btn-sm btn-outline-secondary',href , 'Descargar listado de graduandos (CSV)', "#{glyph 'file'}"
%br
%br
%table.table.table-striped.table-sm.table-hover.table-bordered.responsive-table{id: "table#{estado}"}
	%thead
		%tr
			%th Estudiante
			%th Escuela
			%th Plan
			%th Opciones
	%tbody
		- registros.each do |registro| 
			= render partial: '/admin/grados/detalle_registro', locals: {registro: registro, estado: estado}
