
=# render partial: '/admin/grados/lista_nuevos', locals: {grados: @grados, estado: 'Preinscritos'}
%nav
  .nav.nav-tabs
    = link_to "Preinscritos (#{@preinscritos.count})", "#tab1", "data-toggle": "tab", class: 'nav-item nav-link active show'
    = link_to "Confirmados (#{@confirmados.count})", "#tab2", "data-toggle": "tab", class: 'nav-item nav-link'
    = link_to "Nuevos(#{@nuevos.count})", "#tab3", "data-toggle": "tab", class: 'nav-item nav-link'
    = link_to "Reincorporados (#{@reincorporados.count})", "#tab4", "data-toggle": "tab", class: 'nav-item nav-link'
      
.tab-content
  .tab-pane.active.show#tab1
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @preinscritos, estado: 'Preinscritos'}
  .tab-pane#tab2
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @confirmados, estado: 'Confirmados'}
  .tab-pane#tab3
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @nuevos, estado: 'Nuevos'}
  .tab-pane#tab4
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @reincorporados, estado: 'Reincorporados'}

:javascript

  $(document).ready(function() {
      $('table.table').DataTable( {
          // scrollY: 410, #da error
          fixedHeader: {
              header: true,
              footer: true
          },
          dom: '<"html5buttons"B>lTfgitp',
          buttons: [
            {extend: 'excel', text: "<span class='glyphicon glyphicon-download'></span> Excel", title: `estudiantes_nuevos_#{current_periodo.id}`, className: 'btn btn-sm btn-outline-info'}
          ], 
          paging: false,
          language: 
            {
              "sZeroRecords":    "No se encontraron resultados",
              "sEmptyTable":     "Ningún dato disponible en esta tabla",
              "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
              "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
              "sSearch":         "Buscar:",
              "sInfoThousands":  ",",
              "sLoadingRecords": "Cargando...",
              "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
              },
              "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
              }
            }


      } );
  } );
