
=# render partial: '/admin/grados/lista_nuevos', locals: {grados: @grados, estado: 'Preinscritos'}
%nav
  .nav.nav-tabs
    = link_to "Preinscritos (#{@preinscritos.count})", "#tab1", "data-toggle": "tab", class: 'nav-item nav-link active show'
    = link_to "Confirmados FHE (#{@confirmados.count})", "#tab2", "data-toggle": "tab", class: 'nav-item nav-link'
    = link_to "Inscritos ucv (#{@inscritos_ucv.count})", "#tab3", "data-toggle": "tab", class: 'nav-item nav-link'
    = link_to "Nuevos(#{@nuevos.count})", "#tab4", "data-toggle": "tab", class: 'nav-item nav-link'
    = link_to "Reincorporados (#{@reincorporados.count})", "#tab5", "data-toggle": "tab", class: 'nav-item nav-link'
      
.tab-content
  .tab-pane.active.show#tab1
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @preinscritos, estado: 'Preinscritos'}
  .tab-pane#tab2
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @confirmados, estado: 'Confirmados'}
  .tab-pane#tab3
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @inscritos_ucv, estado: 'Ucv'}
  .tab-pane#tab4
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @nuevos, estado: 'Nuevos'}
  .tab-pane#tab5
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista_nuevos', locals: {grados: @reincorporados, estado: 'Reincorporados'}

