=form_for(@cal_materia,url:{controller: 'cal_materia', action: @accion}, :html => {class: 'form-horizontal well well-small'}) do |a|
  -if @cal_materia.errors.any?
    %ul
      -flash[:alert] = ''
      -@cal_materia.errors.each do |att, msg| 
        -flash[:alert] += "#{msg}\n"


  .control-group
    %label.control-label
      Departamento:
    .controls  
      = a.collection_select :cal_departamento_id, @departamentos, :id, :descripcion, {:prompt => true}, {required: true, class: 'input'}

  .control-group
    %label.control-label
      Cátedra:
    .controls  
      = a.collection_select :cal_categoria_id, @catedras, :id, :descripcion, {:prompt => true}, {required: true, class: 'input'}

  .control-group
    %label.control-label
      Identificador:
    .controls
      -if @accion.eql? 'actualizar'
        = hidden_field_tag :id, @cal_materia.id
        %a.label
          =@cal_materia.id
      -else
        = a.text_field :id, placeholder: 'Identidicador…', size: 10, required: true, class: 'input'
        %span.help-inline
          ="Ej. WEB2 (Máximo 10 caracteres)"

  .control-group
    %label.control-label
      Descripción:
    .controls
      = a.text_field :descripcion, {placeholder: 'Descripción…', class: 'input', required: true}
      %span.help-inline= "Ej. Herramientas web 2.0 para la enseñanza de lenguas extranjeras"

  .control-group
    %label.control-label
      Unidades de Crédito:
    .controls
      = a.number_field :creditos, :in => 0...31, class: 'input', required: true
      %span.help-inline= "Año de la asignatura"

  .control-group
    %label.control-label
      Año:
    .controls
      = a.number_field :anno, :in => 0...6, class: 'input', required: true
      %span.help-inline= "Año de la asignatura"

  .control-group
    %label.control-label
      Orden:
    .controls
      = a.number_field :orden, :in => 1...12, class: 'input', required: true
      %span.help-inline="Orden de la asignatura"

  .control-group
    %label.control-label
      Uxxi:
    .controls
      = a.text_field :id_upsi, {placeholder: 'Código UXXI…', class: 'input', required: true}
      %span.help-inline= "Código Uxxi"

  .form-actions      
    = link_to 'Atrás', 'index', class: "btn"

    = button_tag 'Guardar', class: 'btn btn-primary'
