.tab-pane{class: @mat_activa, id: "mat_#{@mat.id}"}

	.well.well-small
		- if @secciones.count > 0
			%table.table.table-bordered.table-striped.table-condensed.table-hover
				%thead
					%tr
						%th Sec.
						%th Profesor Tutor (Calificador)
						%th Profesores Secundarios
						%th Capacidad
						%th Estado
						- if @admin and @admin.cal_tipo_admin_id <4
							%th Opciones
				%tbody
					- @secciones.each do |seccion|
						%tr
							%td= seccion.numero
							%td
								= "#{seccion.descripcion_profesor_asignado}"
								- if @editar_asignaturas
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Actualizar Tutor-Calificador'}
										= link_to "", {:href => "cal_principal_admin/seleccionar_profesor?id=#{seccion.id}", class: 'btn btn-info btn-mini'},{role: 'button'} do
											%i.icon-pencil.icon-white
											%i.icon-user.icon-white

							%td
								-seccion.cal_profesores.each do |p|
									%p
										= p.descripcion

										- if @editar_asignaturas

											%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Desasignar Este Profesor'}
												= link_to "", {:href => "cal_seccion/desasignar_profesor_secundario?id=#{seccion.id}&cal_profesor_ci=#{p.cal_usuario_ci}", class: 'btn btn-danger btn-mini', 'data_confirm' => "¿Está seguro de esta acción?"},{role: 'button'} do
													%i.icon-minus.icon-white
													%i.icon-user.icon-white


								%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Agregar Profesor Secundario'}
									- if @editar_asignaturas
										= link_to "", {:href => "cal_seccion/seleccionar_profesor_secundario?id=#{seccion.id}", class: 'btn btn-success btn-mini'},{role: 'button'} do
											%i.icon-plus.icon-white
											%i.icon-user.icon-white

							%td
								- @seccion = seccion
								= render 'cal_seccion/cambiar_capacidad'


							%td
								-if seccion.cal_semestre_id.eql? '2016-02A'
									%span.label.label-info 
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Inscritos/Confirmados'}																		
										%span.label
											= "#{seccion.total_estudiantes}/#{seccion.total_confirmados}"

								-if seccion.calificada 
									%span.label.label-success Calificada
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Aprobados'}
										%span.label
											= seccion.total_aprobados
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Reprobados'}
										%span.label
											= seccion.total_reprobados
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Perdidas Por Inasistencias'}																		
										%span.label
											= seccion.total_perdidos
								- else
									%span.label.label-info Por calificar
									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Total Sin Calificar'}																		
										%span.label
											= seccion.total_sin_calificar
							- if @admin and @admin.cal_tipo_admin_id <5
								%td


									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Descargar Acta de Examen en Excel'}
										= link_to "", {:href => "cal_descargar/acta_examen_excel/?id=#{seccion.id}", class: 'btn btn-info btn-success btn-mini'},{role: 'button'} do
											= content_tag(:i, "", class: " icon-white")
											%i.icon-download-alt.icon-white
											%i.icon-list.icon-white
											X

									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Descargar Acta de Examen'}
										= link_to "", {:href => "cal_descargar/acta_examen?id=#{seccion.id}", class: 'btn btn-info btn-mini'},{role: 'button'} do
											= content_tag(:i, "", class: " icon-white")
											%i.icon-download-alt.icon-white
											%i.icon-list.icon-white

									%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Ver Detalle / Calificar'}
										= link_to "", {:href => "cal_principal_admin/ver_seccion_admin?id=#{seccion.id}", class: 'btn btn-info btn-mini'},{role: 'button'} do
											= content_tag(:i, "", class: " icon-white")
											%i.icon-eye-open.icon-white
											%i.icon-list.icon-white
											%i.icon-check.icon-white
											
									-if @admin and @admin.cal_tipo_admin_id <3
										-if seccion.calificada
											
											%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=> 'Habilitar para Calificar Nuevamente'}
												= link_to "", {:href => "cal_principal_admin/habilitar_calificar?id=#{seccion.id}", class: 'btn btn-info btn-mini'},{role: 'button'} do
													%i.icon-off.icon-white
													%i.icon-list.icon-white

										
										%b.tooltip-btn{'data_toggle'=>'tooltip', 'title'=>'Eliminar Seccion'}
											= link_to "", {href: "cal_seccion/eliminar?id=#{seccion.id}", class: 'btn btn-danger btn-mini', data: {confirm: "Se perderan los estudiantes inscritos en la sección, ¿Está seguro de esta acción?"}, method: :delete} do
												%i.icon-trash.icon-white
											
		- if @editar_asignaturas
			=render partial: 'nueva_asignatura'

:javascript
	function capacidad(ele) {
		ele.parent().submit();
	};