
:javascript

	$(document).ready(function() {
	    $('#profesores').dataTable();
	} );

	function filtrar(tabla) {
		var filtro = document.getElementById("filtro_"+tabla).value.toLowerCase();
		var total_mach = 0
		ids = ""
		$("#"+tabla+" tr.filtrables").each(function(){
			var temp = $(this).text().toLowerCase();
			if (temp.match(filtro) == null) {
				$(this).hide();
			}else {
				$(this).show();
				total_mach += 1;
				ids = ids + $(this).find('td.ci').first().text() + ",";
			}
			
		});
		$("#text_"+tabla).text(total_mach+" coincidencias (Descargar Excel)");
		$("#text_"+tabla).attr('href', "/cal_descargar/listados?id="+ids+"&tipo="+tabla)		
		return false;
		}

.tabbable.tabs-top
	%ul.nav.nav-tabs
		%li.active
			= link_to "Profesores", "#profesores", "data-toggle"=> "tab"
		%li
			= link_to "Estudiantes", "#estudiantes", "data-toggle"=> "tab"

	.tab-content
		.tab-pane.active#profesores
				
			=link_to 'Registrar Nuevo Profesor', {controller: 'cal_profesor', action: 'nuevo'}, class: 'btn'
			
			.label.label-info.pull-right
				<a id="text_profesores" style='color:white;'></a>
				= text_field_tag 'filtro_profesores', nil ,{:onkeyup => "return filtrar('profesores')", placeholder:"Filtrar...", autofocus: true}

			%table.table.table-bordered.table-striped.table-condensed.table-hover#profesores
				%thead
					%tr
						%th #
						%th CI
						%th Descripción
						%th Departamento
						%th Correo
						%th Móvil
						%th Habitación
						%th Contraseña
						%th Opciones
				%tbody
					- @profesores.each_with_index do |po,i|
						%tr.filtrables
							%td= i
							%td.ci= po.cal_usuario.ci
							%td= po.cal_usuario.apellido_nombre if po.cal_usuario
							%td= po.cal_departamento.descripcion
							%td= po.cal_usuario.correo_electronico if po.cal_usuario
							%td= po.cal_usuario.telefono_movil if po.cal_usuario
							%td= po.cal_usuario.telefono_habitacion if po.cal_usuario
							%td= po.cal_usuario.contrasena if po.cal_usuario 
							%td= link_to "Resetear Contraseña", {action: 'resetear_contrasena', :ci => po.cal_usuario_ci }


		.tab-pane#estudiantes

			=link_to 'Registrar Nuevo Estudiante', {controller: 'cal_estudiante', action: 'nuevo'}, class: 'btn'


			.label.label-info.pull-right
				<a id="text_estudiantes" style='color:white;'></a>
				= text_field_tag 'filtro_estudiantes', nil ,{:onkeyup => "return filtrar('estudiantes')", placeholder:"Filtrar...", autofocus: true}

			%table.table.table-bordered.table-striped.table-condensed.table-hover#estudiantes
				%thead
					%tr
						%th #
						%th CI
						%th Estudiante
						%th Correo
						%th Móvil
						%th Habitación
						%th Contraseña
						%th Opciones
				%tbody
					- @estudiantes.each_with_index do |es,i|
						%tr.filtrables
							%td= i
							%td.ci= es.cal_usuario.ci
							%td= es.cal_usuario.apellido_nombre if es.cal_usuario
							%td= es.cal_usuario.correo_electronico if es.cal_usuario
							%td= es.cal_usuario.telefono_movil if es.cal_usuario
							%td= es.cal_usuario.telefono_habitacion if es.cal_usuario
							%td= es.cal_usuario.contrasena if es.cal_usuario
							%td= link_to "Ver Detalle", {action: 'detalle_usuario', :ci => es.cal_usuario_ci}							
							%td= link_to "Resetear Contraseña", {action: 'resetear_contrasena', :ci => es.cal_usuario_ci }, :data => {:confirm => 'Esta acción asignará la cédula de identidad como contraseña, ¿está de acuerdo?'}
