


- calificacion_final = es.calificacion_final.nil? ? nil : sprintf("%02i", es.calificacion_final.to_i)
- if current_admin
	%td= colocar_calificacion_parcial es, '1ra', true, @p1, @p2, @p3
	%td= colocar_calificacion_parcial es, '2da', true, @p1, @p2, @p3
	%td= colocar_calificacion_parcial es, '3ra', true, @p1, @p2, @p3
	%td= colocar_calificacion_final es
- elsif @seccion.tiene? 0 # Sin Calificar
	%td= colocar_calificacion_parcial es, '1ra'
- elsif @seccion.tiene_trimestres1?
	%td= colocar_calificacion_parcial es, '1ra', false, @p1, @p2, @p3, true, false
	%td= colocar_calificacion_parcial es, '2da'
- elsif @seccion.tiene_trimestres2?
	%td= colocar_calificacion_parcial es, '1ra', false, @p1, @p2, @p3, true, false
	%td= colocar_calificacion_parcial es, '2da', false, @p1, @p2, @p3, true, false
	%td= colocar_calificacion_parcial es, '3ra', true, @p1, @p2, @p3
	%td= colocar_calificacion_final es, disable
