.modal.fade#nueva_seccion{'aria-hidden': true, role: :dialog}
  .modal-dialog
    .modal-content
      .alert.alert-info
        %button.close{"aria-label": "Cerrar", "data-dismiss": :modal, type: :button}
          %span{"aria-hidden": true} ×      
        %h4.text-center#nueva_seccion_titulo
      .modal-body.border.p-2
        = form_for @seccion, {class: 'form-horizontal'} do |f|
          = hidden_field_tag "[seccion]asignatura_id"
          =# text_field_tag "[seccion]asignatura_id"
          = hidden_field_tag "[seccion]periodo_id", current_periodo.id
          = hidden_field_tag "back", asignaturas_path if controller_name.eql? 'asignaturas'

          .form-group
            = f.label :id, class: 'control-label col-md-3', value: 'Identificador'
            .col-md-12
              = f.text_field :numero, placeholder: 'Id. Sección...', class: 'form-control upcase', maxlength: 3, required: true
              %small.text-muted.font-italic Máximo 3 catacteres alfanuméricos (Caracteres Especiales No permitidos)

          .form-group
            = f.label :id, class: 'control-label col-md-3', value: 'Tipo de Sección'
            .col-md-12
              - TipoSeccion.order("created_at DESC").all.each do |ts| 
                
                %label.btn.btn-secondary.btn-sm.tooltip-btn{'data_toggle': :tooltip, title: ts.descripcion.titleize}
                  = radio_button_tag '[seccion]tipo_seccion_id', ts.id, false, required: true
                  = ts.id
          .form-group
            = f.label :id, class: 'control-label col-md-3', value: 'Capacidad'
            .col-md-12
              = f.number_field :capacidad, placeholder: 'Capacidad', class: 'form-control', maxlength: 3, required: true, value: 30, step: 1
          
          .form-group
            = f.label :id, class: 'control-label col-md-3', value: 'Profesor Principal'
            .col-md-12
              = grouped_collection_select :seccion, :profesor_id, @departamentos, :profesores, :descripcion, :id, :descripcion, {include_blank: 'Selecciona Departamento...', required: true}, { class: 'selects2 form-control text_field form-control-sm'}
          .modal-footer 
            %a.btn.btn-sm.btn-outline-secondary{data: {dismiss: 'modal'}} Cancelar
            = f.submit 'Registrar', class: 'btn btn-outline-success btn-sm'
          


:javascript

  $(document).ready(function() {

    $( ".selects2" ).select2({
      ajax: {
      url: "#{busquedas_usuarios_path}.json?profesores=true",
      dataType: 'json',
      delay: 250,
      processResults: function (data) {
        return {
          results: data
        };
      }     
      },
      placeholder: "--Escriba datos del profesor para buscarlo--",
      theme: "bootstrap",
      cache: true,
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}

    });
    
  });

  $('.upcase').on('input',function(evt){ 
    var node = $(this);
    node.val(node.val().toUpperCase());
    node.val(node.val().replace(/[^A-Z0-9]/g,'') );
  });





