
%br
= form_tag(calificar_seccion_path) do
	= hidden_field_tag "id", @seccion.id

	%table.table.table-bordered.table-striped.table-sm.table-hover{style: "text-align:left;"}
		= render 'admin/secciones/tabla_headers_tipo_seccion'

		%tbody
			- inscripciones.each_with_index do |es,i|

				- disable = (es.diferido? || es.reparacion? || es.retirado? || es.pi?)
				%tr{id: "reg_#{es.estudiante_id}", class: es.tr_class_style_qualify}

					= # RENDERIZAMOS EL ID Y LA DESCRIPCIÓN DEL ESTUDIANTE
					= render partial: 'admin/inscripcionsecciones/id_and_estudiante', locals: {i: i, es: es}
					= # COLOCAMOS LAS POSIBLES CALIFICACIONES SEGUN EL TIPO Y SI ESTÁ RETIRADA O NO
					- if es.retirado?
						= render partial: 'admin/inscripcionsecciones/retirado', locals: {es: es}
					- else
						- if es.asignatura.absoluta?
							%td= colocar_calificacion_absoluta es, 1, disable
							%td= colocar_calificacion_absoluta es, 2, disable
						- elsif es.asignatura.numerica?
							%td= colocar_calificacion_final es, disable
						- elsif es.asignatura.numerica3?
							= render partial: 'admin/inscripcionsecciones/numerica3', locals: { es: es, seccion: @seccion, disable: disable}
						= render partial: 'admin/secciones/opciones_asignaturas_por_tipo', locals: {es: es, disable: disable}
					- if (!@seccion.asignatura.numerica3? or (@seccion.asignatura.numerica3? and @seccion.tiene_trimestres2?))
						%td= text_field_tag "[#{es.estudiante_id}]calificacion_en_letras", {}, {readonly: true, disabled: true, value: es.calificacion_en_letras, class: 'form-control form-control-sm'}
					%td= (es.created_at-4.hours).strftime('%d/%m/%Y %H:%M %p')


	= button_tag 'Guardar', class: 'btn btn-sm mx-3 float-right btn-outline-success', id: 'submit'


:javascript
	
	$('#submit').click(function(e){

		let form = $(this).parents('form')[0]
		if (form.checkValidity() == true) {
			let = confi = confirm('Una vez que guardes las calificaciones no podrás cambiar su valor, ¿Estás Seguro?')
			if (confi === false) {
				e.preventDefault()
				e.stopPropagation()
			}
		}
	})

	$(document).ready(function() {
		$('.absoluta').click(function(){
			let clase = 'table-success'
			let ci = $(this).attr('ci'),
			valor_letras = $(this).attr('final')
			if (valor_letras == 'APLAZADO') clase = 'table-danger'

			$(`#_${ci}calificacion_en_letras`).val(valor_letras)
			$(`#reg_${ci}`).removeClass().addClass(clase);
		});
	});

	const numeroALetras = (valor, ci) => {

	}

	function numero_a_letras(valor, ci){
		let final, clase,
		valores = ['CERO', 'UNO', 'DOS', 'TRES', 'CUATRO', 'CINCO', 'SEIS', 'SIETE', 'OCHO', 'NUEVE', 'DIEZ', 'ONCE', 'DOCE', 'TRECE', 'CATORCE', 'QUINCE'] 

		valor = parseInt(valor)
		if (valor == 0){
			final = 'CERO CERO'
			clase = 'table-danger'
		}else if (!valor){
			final = 'POR DEFINIR'
			clase = ''
		}else if (valor == -1){
			final = 'PÉRDIDA POR INASISTENCIA'
			clase = 'table-danger'
		}else if (valor >= 0 && valor < 10){
			console.log(valor)
			final = `CERO ${valores[valor]}`
			clase = 'table-danger'
		}else if (valor > 9 && valor < 16) {
			final = valores[valor]
			clase = 'table-success'
		}else if (valor > 15 && valor < 20){
			valor = valor % 10
			final = `DIEZ Y ${valores[valor]}`
			clase = 'table-success'
		}else if (valor == 20){
			final = 'VEINTE'
			clase = 'table-success'
		}else{
			final = 'POR DEFINIR'
			clase = ''
		}
		$(`#reg_${ci}`).removeClass().addClass(clase);
		$(`#_${ci}calificacion_en_letras`).val(final);

	}

	function desactivar_por_pi(obj, ci){
		var numeros, radios, inputs, valor, final

		inputs = $(`#reg_${ci} input`);

		valor = $(obj).prop('checked')
		final = $(`#_est_${ci}calificacion_final`)

		inputs.prop('disabled', valor)

		$(obj).prop('disabled', false)
		// $(obj) = .prop('required', false)

		final.val = (null)
		if (valor === true) {
			numero_a_letras('-1', ci);
		}else{
			numero_a_letras(undefined, ci);
		}
		
		$(`#_${ci}calificacion_en_letras`).prop('disabled', true);
		$(`#_${ci}calificacion_en_letras`).prop('readonly', true);		
	}

	function desactivar_por_nd(obj, ci){
		var valor = $(obj).prop('checked')
		$(`#_est_${ci}pi`).prop('disabled', valor)
	
	}

	function calcular(p1,p2,p3,ci){
		var nota1, nota2, nota3, porcen1, porcen2, porcen3, final;
		nota1 = document.getElementById("_est_"+ci+"primera_calificacion").value;
		nota2 = document.getElementById("_est_"+ci+"segunda_calificacion").value;
		nota3 = document.getElementById("_est_"+ci+"tercera_calificacion").value;
		porcen1 = (p1*nota1)/100;
		porcen1 =  Math.round(porcen1 * 10) / 10;
		porcen2 = (p2*nota2)/100;
		porcen2 =  Math.round(porcen2 * 10) / 10;
		porcen3 = (p3*nota3)/100;
		porcen3 =  Math.round(porcen3 * 10) / 10;
		$("#"+ci+"_calificacion_primera_text").text(porcen1);
		$("#"+ci+"_calificacion_segunda_text").text(porcen2);
		$("#"+ci+"_calificacion_tercera_text").text(porcen3);
		final = (porcen1+porcen2+porcen3).toFixed(0);
		
		$("#_est_"+ci+"calificacion_final").val(final);
		numero_a_letras(final, ci);
	}



