
%table.table.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
	%thead
		%tr.text-center
			%th Asignatura
			%th Profesor
			%th Tipo de Calificación
			%th Tipo de Sección
			%th Id
			%th U. Créditos
			- if current_admin.mas_altos?
				%th Capacidad
			%th ¿PCI?
			- if @seccion.horario
				%th Horario
			%th Estado
	%tbody
		%tr.text-center
			%td= link_to_if (current_admin and current_admin.altos?), "#{@seccion.asignatura.descripcion_id}", @seccion.asignatura
			%td
				- if @seccion.profesor
					= link_to_if (current_admin and current_admin.altos?), "#{@seccion.descripcion_profesor_asignado}", @seccion.profesor.usuario
				- else
					= @seccion.descripcion_profesor_asignado
			%td= "#{@seccion.asignatura.calificacion.titleize}"
			%td= "#{@seccion.tipo_seccion.descripcion.titleize}"
			%td= "#{@seccion.numero}"
			%td= "#{@seccion.asignatura.creditos}"
			%td= render partial: '/admin/secciones/cambiar_capacidad', locals: {seccion: @seccion}
			%td
				- if @seccion.asignatura.pci? @seccion.periodo_id
					.text-success= glyph 'ok'
				- else
					NO
			- if @seccion.horario
				%td= @seccion.horario.descripcion

			%td= colocar_estado_seccion @seccion
