
%table.table.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
	%thead
		%tr.text-center
			%th Asignatura
			%th Profesor
			%th Tipo de Calificación
			%th Tipo de Sección
			%th Id
			%th U. Créditos
			- if current_admin and current_admin.mas_altos?
				%th Capacidad
			%th ¿PCI?
			- if @seccion.horario
				%th Horario
			%th Estado
	%tbody
		%tr.text-center
			%td= link_to_if (current_admin and current_admin.altos?), "#{@seccion.asignatura.descripcion_id}", @seccion.asignatura
			%td
				- if @seccion.profesor
					= link_to_if (current_admin and current_admin.altos?), "#{@seccion.descripcion_profesor_asignado}", @seccion.profesor.usuario
				- else
					= @seccion.descripcion_profesor_asignado
			%td= "#{@seccion.asignatura.calificacion.titleize}"
			%td= "#{@seccion.tipo_seccion.descripcion.titleize}"
			%td= "#{@seccion.numero}"
			%td= "#{@seccion.asignatura.creditos}"
			- if current_admin and current_admin.mas_altos?
				%td
					= render partial: '/admin/secciones/cambiar_capacidad', locals: {seccion: @seccion}
			%td
				- if @seccion.asignatura.pci? @seccion.periodo_id
					.text-success= glyph 'ok'
				- else
					NO
			- if @seccion.horario
				%td= @seccion.horario.descripcion

			- if current_admin and (current_admin.autorizado? 'Secciones', 'update')
				%td
					= colocar_estado_seccion @seccion
					= link_to 'javascript:void(0)', class: "tooltip-btn badge badge-primary btn-sm p-md-1 badge-primary editarSeccion", 'data-toggle': :tooltip, title: 'Editar Sección', onclick: "setAtributosSeccionForm(this);$('#newSeccion').modal();", data: {seccion: @seccion.to_json} do
						=glyph 'pencil'

