%h5= "Total de Estudiantes: #{@inscripciones_secciones.count}"
= form_tag(calificar_seccion_path) do
	= hidden_field_tag "id", @seccion.id

	%table.table.table-bordered.table-striped.table-sm.table-hover{style: "text-align:left;"}
		%thead			
			%tr
				%th #
				%th Estudiante
				- unless @calificada
					- if @seccion.asignatura.numerica?
						%th Definitiva
					- else
						%th Aprobado
						%th Aplazado
					%th PI
					- if @seccion.tipo_seccion_id.eql? TipoSeccion::DIFERIDA
						%th= Inscripcionseccion::NOPRESENTO
				- else
					%th Definitiva
					%th Estado
				%th Valor

		%tbody
			- @inscripciones_secciones.each_with_index do |es,i|
				- retirada = es.retirada?
				- desactivada = @calificada || retirada || es.pi? || es.no_presento?
				- @calificacion = 'table-success' if es.aprobada?
				- @calificacion = 'table-danger' if (es.aplazada? || es.pi? || retirada)
				- @muted = retirada ? "text-muted" : ""

				%tr{class: "#{@calificacion} #{@muted}"}
					%td= i+1
					%td
						= "(#{es.estudiante_id})"
						= link_to_if @admin, es.estudiante.usuario.apellido_nombre, es.estudiante.usuario
						%span.badge= 'Retirada' if retirada

					- unless @calificada
						- if @seccion.asignatura.numerica?

							%td= number_field_tag "[est][#{es.estudiante_id}]calificacion_final", {}, {disabled: desactivada, value: es.calificacion_final, class: 'form-control form-control-sm', required: true, :step => 1, :in => 0...21, onchange: "calcular($(this).val(), #{es.estudiante_id});"}
						- else
							%td= radio_button_tag "[est][#{es.estudiante_id}]calificacion_final", 'A', (es.tipo_estado_calificacion_id.eql? 'RE'), required: true, disabled: desactivada, onchange: "calcular_absoluto(#{es.estudiante_id});"
							%td= radio_button_tag "[est][#{es.estudiante_id}]calificacion_final", 'AP', (es.tipo_estado_calificacion_id.eql? 'AP'), required: true, disabled: desactivada, onchange: "calcular_absoluto(#{es.estudiante_id});"

						%td= check_box_tag "[est][#{es.estudiante_id}]pi", true, es.pi?, {onclick: "desactivar_resto(#{es.estudiante_id})", disabled: retirada || @calificada || es.no_presento? }

						- if @seccion.tipo_seccion_id.eql? TipoSeccion::DIFERIDA
							%td= check_box_tag "[est][#{es.estudiante_id}]np", true, es.no_presento?, {onclick: "desactivar_resto(#{es.estudiante_id})", disabled: retirada || @calificada || es.pi?}

					- else
						%td= es.valor_calificacion
						%td= es.estado

					%td= text_field_tag "[#{es.estudiante_id}]calificacion_en_letras", {}, {readonly: true, disabled: true, value: es.calificacion_en_letras, class: 'form-control form-control-sm'}

	%hr
		- unless @calificada 
			= submit_tag "Guardar", id: "submit", class: "btn btn-outline-success float-right", disable_with: "Espere...", data: {confirm: 'Una vez que guardes las calificaciones no podrás cambiar su valor, ¿Estás Seguro?'}
:javascript

	function calcular_absoluto(ci){
		if ($("input[name='[est]["+ci+"]calificacion_final']:checked").val() == 'A'){
			$("#_"+ci+"calificacion_en_letras").val("APROBADO");
		}else if ($("input[name='[est]["+ci+"]calificacion_final']:checked").val() == 'AP'){
			$("#_"+ci+"calificacion_en_letras").val("APLAZADO");
		}else{
			$("#_"+ci+"calificacion_en_letras").val("");
		}
	}

	function desactivar_resto(ci){

		if ($("#_est_"+ci+"np").prop('checked') == true){
			$("#_"+ci+"calificacion_en_letras").val("NO PRESENTÓ");
			$("#_est_"+ci+"pi").prop('disabled', true);
		}else if ($("#_est_"+ci+"pi").prop('checked') == true){
			$("#_"+ci+"calificacion_en_letras").val("PÉRDIDA POR INASISTENCIA");
			$("#_est_"+ci+"calificacion_final").prop('disabled', true);
			$("#_est_"+ci+"calificacion_final").prop('readonly', true);
			$("#_est_"+ci+"calificacion_final").prop('required', false);
			$("#_est_"+ci+"calificacion_final_A").prop('disabled', true);
			$("#_est_"+ci+"calificacion_final_AP").prop('disabled', true);
			$("#_est_"+ci+"np").prop('disabled', true);
		}else{
			$("#_"+ci+"calificacion_en_letras").val("POR DEFINIR");
			$("#_est_"+ci+"calificacion_final").prop('disabled', false);
			$("#_est_"+ci+"calificacion_final").prop('readonly', false);
			$("#_est_"+ci+"calificacion_final").prop('required', true);
			$("#_est_"+ci+"calificacion_final_A").prop('disabled', false);
			$("#_est_"+ci+"calificacion_final_AP").prop('disabled', false);
			$("#_est_"+ci+"pi").prop('disabled', false);
			$("#_est_"+ci+"np").prop('disabled', false);
		}

	}

	function calcular(valor, ci){

	switch (valor) {
		case '1':
			final = "CERO UNO";
			break;
		case '2':
			final = "CERO DOS";
			break;
		case '3':
			final = "CERO TRES";
			break;
		case '4':
			final = "CERO CUATRO";
			break;
		case '5':
			final = "CERO CINCO";
			break;
		case '6':
			final = "CERO SEIS";
			break;
		case '7':
			final = "CERO SIETE";
			break;
		case '8':
			final = "CERO OCHO";
			break;
		case '9':
			final = "CERO NUEVE";
			break;
		case '10':
			final = "DIEZ";
			break;
		case '11':
			final = "ONCE";
			break;
		case '12':
			final = "DOCE";
			break;
		case '13':
			final = "TRECE";
			break;
		case '14':
			final = "CATORCE";
			break;
		case '15':
			final = "QUINCE";
			break;
		case '16':
			final = "DIEZ Y SEIS";
			break;
		case '17':
			final = "DIEZ Y SIETE";
			break;
		case '18':
			final = "DIEZ Y OCHO";
			break;
		case '19':
			final = "DIEZ Y NUEVE";
			break;
		case '20':
			final = "VEINTE";
			break;
		default:
		final = "POR DEFINIR";
	}
			
		$("#_"+ci+"calificacion_en_letras").val(final);

	}															
