%h5= "Total de Estudiantes: #{@inscripciones_secciones.count}"
= form_tag(calificar_seccion_path) do
	= hidden_field_tag "id", @seccion.id

	%table.table.table-bordered.table-striped.table-sm.table-hover{style: "text-align:left;"}
		%thead			
			%tr
				%th #
				%th Estudiante
				- unless @calificada
					- if @seccion.asignatura.numerica?
						%th Definitiva
					- else
						%th Aprobado
						%th Aplazado
					%th PI
					- if @seccion.tipo_seccion_id.eql? TipoSeccion::DIFERIDA
						%th= TipoSeccion::DIFERIDA
				- else
					%th Definitiva
				%th Estado
		%tbody
			- @inscripciones_secciones.each_with_index do |es,i|
				- retirada = es.retirada?  
				- @calificacion = 'bg-success' if es.aprobada?
				- @calificacion = 'bg-error' if (es.aplazada? or es.pi? or retirada)
				- @muted = retirada ? "text-muted" : ""

				%tr{class: "#{@calificacion} #{@muted}"}
					%td= i+1
					%td
						= "(#{es.estudiante_id})"
						= link_to_if @admin, es.estudiante.usuario.apellido_nombre, es.estudiante.usuario
						%span.badge= 'Retirada' if retirada

					- unless @calificada
						- if @seccion.asignatura.numerica?
							%td= number_field_tag "[est][#{es.estudiante_id}]calificacion_final", {}, {disabled: (@calificada or retirada), value: es.calificacion_final.to_i, class: 'number_field', required: true, :step => 1, :in => 0...21, onchange: "calcular($(this).val(), #{es.estudiante_id});"}
						- else
							%td= radio_button_tag "[est][#{es.estudiante_id}]calificacion_final", 'A', (es.tipo_estado_calificacion_id.eql? 'RE'), required: true, disabled: retirada
							%td= radio_button_tag "[est][#{es.estudiante_id}]calificacion_final", 'AP', (es.tipo_estado_calificacion_id.eql? 'AP'), required: true, disabled: retirada

						%td= check_box_tag "[est][#{es.estudiante_id}]pi", true, es.pi?, {:onclick => "pi(#{es.estudiante_id})", disabled: retirada}
						- if @seccion.tipo_seccion_id.eql? TipoSeccion::DIFERIDA
							%td= check_box_tag "[est][#{es.estudiante_id}]np", true, es.no_presento?, {onclick: "pi(#{es.estudiante_id})", disabled: retirada}
					- else
						%td= es.calificacion_final
					%td= text_field_tag "[est][#{es.estudiante_id}]calificacion_en_letras", {}, {:readonly => true, disabled: true, value: es.calificacion_en_letras , class: 'form-control text_field form-control-sm'}

	.well.well-small
		-unless @calificada 
			= submit_tag "Guardar", id: "submit", class: "btn btn-outline-success float-right", :disable_with => "Espere...", :data => {:confirm => 'Una vez que guardes las calificaciones no podrás cambiar su valor, ¿Estás Seguro?'}
:javascript

	function pi(ci){

		if ($("#_est_"+ci+"pi").prop('checked') == true){
			$("#_est_"+ci+"calificacion_en_letras").val("PERDIDA POR INASISTENCIA");
				
		}else{
			$("#_est_"+ci+"calificacion_en_letras").val("POR DEFINIR");
			$("#_est_"+ci+"calificacion_final").val("");
		}

	}

	function calcular(valor, ci){

	switch (valor) {
		case '1':
			final = "CERO UNO";
			break;
		case '2':
			final = "CERO DOS";
			break;
		case '3':
			final = "CERO TRES";
			break;
		case '4':
			final = "CERO CUATRO";
			break;
		case '5':
			final = "CERO CINCO";
			break;
		case '6':
			final = "CERO SEIS";
			break;
		case '7':
			final = "CERO SIETE";
			break;
		case '8':
			final = "CERO OCHO";
			break;
		case '9':
			final = "CERO NUEVE";
			break;
		case '10':
			final = "DIEZ";
			break;
		case '11':
			final = "ONCE";
			break;
		case '12':
			final = "DOCE";
			break;
		case '13':
			final = "TRECE";
			break;
		case '14':
			final = "CATORCE";
			break;
		case '15':
			final = "QUINCE";
			break;
		case '16':
			final = "DIEZ Y SEIS";
			break;
		case '17':
			final = "DIEZ Y SIETE";
			break;
		case '18':
			final = "DIEZ Y OCHO";
			break;
		case '19':
			final = "DIEZ Y NUEVE";
			break;
		case '20':
			final = "VEINTE";
			break;
		default:
		final = "POR DEFINIR";
	}
			
		$("#_est_"+ci+"calificacion_en_letras").val(final);

	}															
