.border.mt-3.p-3
	%h6= "Secciones (#{@secciones.count}):"
	%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
		%thead
			%tr
				%th Descripcion
				%th Periodo
				%th Asignatura
				%th{style: 'width:13%'} Estado

		%tbody
			- @secciones.each do |seccion|
				- @calificar = '?calificar=true' if (current_admin and current_admin.mas_altos?) or !seccion.calificada
				%tr
					%td= link_to seccion.descripcion, "#{seccion_path(seccion)}#{@calificar}", class: 'btn btn-sm btn-outline-info'
					%td= seccion.periodo_id
					%td= seccion.asignatura.descripcion_completa.upcase
					%td
						-if seccion.calificada
							= colocar_numeros_seccion seccion
						- else
							%span.badge.badge-info Pendiente por calificar
