%tr.table-danger.text-muted
	%td= i+1
	%td
		= "(#{es.estudiante_id})"
		= link_to_if current_admin, es.estudiante.usuario.apellido_nombre, es.estudiante.usuario
		.badge.badge-info= 'Retirada' if es.retirado?

	- if @seccion.asignatura.numerica3?
		%td 
		%td 
		%td 
		%td 
		%td 
		%td 
	- elsif @seccion.asignatura.numerica?
		%td 
	- else
		%td 
		%td 
	%td
	%td
	- if @por_cerrar
		%td
		- if @seccion.asignatura.absoluta?
			%td 
			%td
		- else
			%td
	%td= text_field_tag nil, {}, {readonly: true, disabled: true, value: 'RETIRADA', class: 'form-control form-control-sm'}
