%table.table.mb-0
	- seccion.profesores.joins(:usuario).order('usuarios.nombres ASC').each do |p|
		%tr
			%td
				= p.descripcion
				- if true #@editar_asignaturas
					%b.tooltip-btn{'data_toggle': :tooltip, 'title'=>'Desasignar Este Profesor'}
						= link_to "#{desasignar_profesor_secundario_seccion_path(seccion.id)}?profesor_id=#{p.usuario_id}", {'data-confirm' => "¿Está seguro de esta acción?"},{role: 'button'} do
							%i.glyphicon.glyphicon-minus.text-danger

	- if current_admin.mas_altos?
		%tr
			%td
				= simple_toggle 'javascript:void(0)', '', 'Agregar Profesor Secundario', 'success', 'plus', "$('#profesor > #id').val('#{seccion.id}');$('#editar_profesor_titulo').html('Agregar Profesor secunadrio a #{seccion.descripcion}');$('#profesor > #secundario').val(true);$('#editar_profesor').modal();"