.border.mt-3.p-3
	%h6= "Secciones (#{@secciones.count}):"
	%table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
		%thead
			%tr
				%th Sección
				%th Periodo
				%th{style: 'max-width:40%'} Asignatura
				%th Departamento
				%th Cátedra
				%th Escuela
				%th Horario
				%th{style: 'width:20%'} Estado

		%tbody
			- @secciones.each do |seccion|
				-# @calificar = '?calificar=true' if (current_admin and current_admin.mas_altos?) or !seccion.calificada
				-# Agregar variable de Solo lectura
				- activar = current_admin or (seccion.asignatura.numerica3? and !seccion.recientemente_calificada?) or (!seccion.asignatura.numerica3? and seccion.abierta? and seccion.calificada)
				%tr
					%td= link_to seccion.numero, seccion, class: 'btn btn-sm btn-outline-info'
					%td= seccion.periodo_id

					%td= seccion.asignatura.descripcion.upcase
					%td= seccion.asignatura.departamento.descripcion.upcase
					%td= seccion.asignatura.catedra.descripcion.upcase
					%td= seccion.escuela.descripcion.upcase
					%td
						- if seccion.horario
							= seccion.horario.descripcion
					%td= colocar_estado_seccion seccion