%table.table.mb-0
	- seccion.profesores.joins(:usuario).order('usuarios.nombres ASC').each do |profe|
		%tr
			%td
				.tooltip-btn{'data_toggle': :tooltip, title: profe.descripcion}
					= link_to profe.usuario.nombres, usuario_path(profe.id)
					- if true #@editar_asignaturas
						= link_to "#{desasignar_profesor_secundario_seccion_path(seccion.id)}?profesor_id=#{profe.usuario_id}", {'data-confirm' => "¿Está seguro de esta acción?", class: 'tooltip-btn', 'data_toggle': :tooltip, title: 'Desasignar Este Profesor'},{role: 'button'} do
							%i.glyphicon.glyphicon-minus.text-danger

	- if (current_admin and current_admin.autorizado? 'Secciones', 'agregar_profesor_secundario')
		%tr
			%td= simple_toggle 'javascript:void(0)', '', 'Agregar Profesor Secundario', 'success', 'plus', "$('#profesor > #id').val('#{seccion.id}');$('#editar_profesor_titulo').html('Agregar Profesor secunadrio a #{seccion.descripcion}');$('#profesor > #secundario').val(true);$('#editar_profesor').modal();"