- model_class = Seccion
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:numero)
      %th= model_class.human_attribute_name(:asignatura_id)
      %th= model_class.human_attribute_name(:periodo_id)
      %th= model_class.human_attribute_name(:profesor_id)
      %th= model_class.human_attribute_name(:calificada)
      %th Actividad
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @secciones.each do |seccion|
      %tr
        %td= seccion.id
        %td= seccion.numero
        %td= seccion.asignatura_id
        %td= seccion.periodo_id
        %td= seccion.profesor_id
        %td= seccion.calificada
        %td=l seccion.updated_at, format: :short
        %td
          = link_to seccion_path(seccion), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do
            = glyph 'info-sign'
          = link_to edit_seccion_path(seccion), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          = link_to seccion_path(seccion), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            .text-danger= glyph 'trash'

= link_to t('.new', default: t("helpers.links.new")), new_seccion_path, class: 'btn btn-primary'
