
.border.p-3
  .alert#message{role: :alert, style: 'display:none'} 
    %button.close{"aria-hidden": true, "data-dismiss": :alert, type: :button} &times;
  %seccion
    %table#tableSeccion.table.table-striped.table-sm.table-hover.table-bordered.responsive-table
      %thead#ordinal-thead
        %tr
          %th{style: 'max-width:220px;'} Escuela

          %th.text-center{style: 'width:100px;'} Código
          %th Asignatura
          %th{style: 'width:30px;'} Sec
          %th.tooltip-btn{style: 'width:20px;', 'data_toggle': :tooltip, title: 'Inscritos/Notas'} Ins
          %th.tooltip-btn{style: 'width:10px;', 'data_toggle': :tooltip, title: '¿Calificada?'} Cal
          %th.tooltip-btn{style: 'width:10px;', 'data_toggle': :tooltip, title: 'Aprobados'} Apr
          %th.tooltip-btn{style: 'width:10px;', 'data_toggle': :tooltip, title: 'Aplazados'} Apl
          %th{style: 'width:10px;'} PI
          %th.tooltip-btn{style: 'width:10px;', 'data_toggle': :tooltip, title: 'Retirados'} Ret
          %th.tooltip-btn{style: 'width:20px;', 'data_toggle': :tooltip, title: 'Promedio de Calificaciones'} Prom
      %tbody
        - @secciones.each do |seccion| 
          %tr{class: seccion.tr_estilo_estado, id: "tr#{seccion.id}"}
            %td{escuela_id: seccion.escuela.id}= seccion.escuela.descripcion
            %td.text-center= seccion.asignatura_id
            %td= seccion.asignatura.descripcion
            %td
              = link_to seccion.numero, seccion, target: '_black'
              - unless seccion.inscripciones.any?
                = link_to 'javascript:void(0)', class: 'removeSeccion', onclick: "removeSeccion(#{seccion.id})" do 
                  %span.text-danger= glyph 'trash'

            %td.text-center= "#{seccion.total_estudiantes}/#{seccion.total_calificados}"
            %td.text-center= colocar_etiqueta_califida seccion
            - if seccion.calificada
              %td.text-right= colocar_etiqueta seccion.total_aprobados, 'success'
              %td.text-right= colocar_etiqueta seccion.total_reprobados, 'danger'
              %td.text-right= colocar_etiqueta seccion.total_perdidos, 'danger'
              %td.text-right= colocar_etiqueta seccion.total_retirados, 'secondary'
              %td.text-right= colocar_etiqueta seccion.promedio, 'info'
            - else
              %td
              %td
              %td
              %td
              %td

            - if false
              %td= colocar_estado_seccion seccion
              %td
                - if false #seccion.estudiantes.count < 1
                  %b.tooltip-btn{'data_toggle': :tooltip, title: 'Eliminar Seccion'}
                    = link_to "", {href: seccion_path(seccion), class: 'btn btn-danger btn-sm mr-md-2 float-right', data: {confirm: "Se perderan los estudiantes inscritos en la sección, ¿Está seguro de esta acción?"}, method: :delete} do
                      = glyph 'trash'

                -if false #seccion.calificada
                  = link_to notas_seccion_descargar_path(seccion.id), class: "btn btn-sm btn-outline-success float-right mr-md-2 mb-md-2" do
                    = glyph 'download'

                =# link_to listado_seccion_descargar_path(seccion.id), class: "mr-md-2 btn btn-sm btn-outline-success float-right" do
                =# glyph 'download'

                =# link_to seccion_path(seccion.id), class: "mr-md-2 btn btn-sm btn-outline-primary float-right" do
                =# glyph 'info-sign'

                =# link_to "#{new_seccion_path}?asignatura_id=#{seccion.asignatura_id}&back=#{secciones_path}", class: 'btn btn-sm btn-outline-success' do
                =# glyph :plus


=# render 'admin/secciones/modal_seleccionar_profesor'
=# link_to t('.new', default: t("helpers.links.new")), new_seccion_path, class: 'btn btn-primary'

:javascript

  function removeSeccion(id) {
    let conf = confirm('Esta acción es irreversible, ¿Está Seguro?')
    if (conf === true) {

      $.ajax( {
        dataType: 'json',
        url: `#{secciones_path}/${id}`,
        method: 'DELETE',
        success: function () {
          document.getElementById(`tr${id}`).remove()
          $('#message').removeClass('alert-danger')
          $('#message').addClass('alert-info')
          $('#message').html(`Seccion Eliminada con éxito`)
          //message.classList.add('alert-info')
          //message.innrHTML(`Seccion Eliminada con éxito <${json}>`)
        },
        error: function () {
          $('#message').removeClass('alert-info')
          $('#message').addClass('alert-danger')
          $('#message').html(`No se pudo eliminar la sección. Inténtelo de nuevo o notifique del error al administrador del sitio`)
          //message.classList.add('alert-danger')
          //message.innerHTML(`No se pudo eliminar la sección. Inténtelo de nuevo o notifique del error al administrador del sitio`)
        }
      });

      $('#message').show()

    }
  }

  $(document).ready(function() {

    $('#tableSeccion').DataTable({
      scrollY: 410,
      // pageLength: 100,
      // lengthChange: false,
      paging: false,
      dom: '<"html5buttons"B>lTfgitp',
      buttons: [
        {extend: 'excel', text: "<span class='glyphicon glyphicon-download'></span> Excel", title: `Excel Lista Secciones #{current_periodo.id}`, className: 'btn btn-sm btn-outline-info'},
        {extend: 'pdf', text: "<span class='glyphicon glyphicon-download'></span> PDF", title: `PDF Lista Secciones #{current_periodo.id}`, className: 'btn btn-sm btn-outline-info'} 
      ],
      language: 
        {
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ registros",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar:",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        },


        initComplete: function () {
            this.api().columns(0).every( function () {
                var column = this;
                var select = $('<select style="width: 220px;" class="form-control form-control-sm"><option value="">Filtrar Escuela</option></select>')
                    .insertAfter( $('#tableSeccion_info') )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }


    });
  } );
