.border.p-md-3
  .col-md-5
    = text_field_tag 'filtro', nil ,{onkeyup: "filtrar();", placeholder: "Filtrar Contenido...", class: 'form-control form-control-sm'}
  .col-md-3
    %span#text.align-middle

  %table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
    %thead
      %tr
        %th #
        %th Periodo
        %th Escuela
        %th Departamento
        %th Código
        %th Asignatura
        %th Total/Insc
        %th Califi
    %tbody
      - @secciones.each do |seccion|
        %tr.filtrables
          %td= seccion.numero
          %td= seccion.periodo_id
          %td= seccion.asignatura.escuela.descripcion
          %td= seccion.asignatura.departamento.descripcion
          %td= seccion.asignatura.id_uxxi
          %td= seccion.asignatura.descripcion
          %td= "#{seccion.capacidad} / #{seccion.inscripcionsecciones.count}"
          %td= seccion.calificada_valor
          =# link_to "#{new_seccion_path}?asignatura_id=#{seccion.asignatura_id}&back=#{secciones_path}", class: 'btn btn-sm btn-outline-success' do
          =# glyph :plus

=# link_to t('.new', default: t("helpers.links.new")), new_seccion_path, class: 'btn btn-primary'

:javascript

  function filtrar() {
    var filtro = $('#filtro').val().toLowerCase() 
    var total_mach = 0
    var ids = ""
    $("tr.filtrables").each(function(){
      var temp = $(this).text().toLowerCase();
      if (temp.match(filtro) == null) {
        $(this).hide();
      }else {
        $(this).show();
        total_mach += 1;
        ids = ids + $(this).find('td').first().text() + ",";
      }
      $('#text').text(total_mach+" coincidencias");
    });
  };