%h2= "Sección: #{@seccion.descripcion}"
= form_tag({action: @accion, controller: '/admin/secciones'}, class: "form-horizontal") do
	=hidden_field_tag :id, @seccion.id
	.form-group
		%h5.control-label.col-md-2 Profesor:
		.col-md-10
		= select_tag :profesor_id, options_from_collection_for_select(@profesores, :id, :descripcion_apellido, @seccion.profesor_id), class: 'selects2 form-control text-field', required: true, include_blank: '--- Ninguna Selección ---'

	.form-group
		.col-md-offset-2.col-md-10
			= link_to t('.cancel', default: t("helpers.links.cancel")), principal_admin_index_path, class: 'btn btn-default'
			= submit_tag "Guardar", id: "submit", class: "btn btn-success", :disable_with => "Espere..."

:javascript

	$(document).ready(function() {

		$( ".selects2" ).select2({
			ajax: {
			url: "#{busquedas_usuarios_path}.json?profesores=true",
			dataType: 'json',
			delay: 250,
			processResults: function (data) {
				return {
					results: data
				};
			}			
			},
			placeholder: "--Escriba datos del profesor para buscarlo--",
			theme: "bootstrap",
			cache: true,
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}

		});
		
	});