
.border.p-3
	- @back = session[:administrador_id] ? principal_admin_index_path : principal_profesor_index_path 
	=link_to @back, class: 'btn btn-sm btn-outline-secondary' do
		= glyph 'chevron-left'
		Regresar

	%table.table.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
		%thead
			%tr
				%th Asignatura
				%th Profesor
				%th Tipo de Calificación
				%th Tipo de Sección
				%th Id
				%th U. Créditos
		%tbody
			%tr
				%td= link_to_if (current_admin and current_admin.altos?), "#{@seccion.asignatura.descripcion}", @seccion.asignatura

				%td
					- if @seccion.profesor
						= link_to_if (current_admin and current_admin.altos?), "#{@seccion.descripcion_profesor_asignado}", @seccion.profesor.usuario
					- else
						= @seccion.descripcion_profesor_asignado
				%td= "#{@seccion.asignatura.calificacion.titleize}"
				%td= "#{@seccion.tipo_seccion.descripcion.titleize}"
				%td= "#{@seccion.numero}"
				%td= "#{@seccion.asignatura.creditos}"


	-if @seccion.calificada
		= link_to notas_seccion_descargar_path(@seccion.id), class: "btn btn-outline-success float-right mr-md-2 mb-md-2" do
			= glyph 'download'
			Descargar notas

	= link_to listado_seccion_descargar_path(@seccion.id), class: "mr-md-2 btn btn-outline-success float-right" do
		= glyph 'download'
		Descargar listado (Excel)

	= render '/admin/secciones/detalle_seccion'
	=link_to @back, class: 'btn btn-sm btn-outline-secondary mt-1' do
		= glyph 'chevron-left'
		Regresar
	-if @seccion.calificada
		=link_to notas_seccion_descargar_path(@seccion.id), class: "btn btn-outline-success float-right mr-md-2" do
			= glyph 'download'
			Descargar notas
