
.border.p-3
	=link_to principal_profesor_index_path, class: 'btn btn-sm btn-outline-secondary' do
		= glyph 'chevron-left'
		Regresar

	-if true #@seccion.calificada
		=link_to descargar_notas_seccion_path(@seccion.id), class: "btn btn-outline-success pull-right btn-sm ml-2" do
			= glyph 'download'
			Descargar notas

	= render partial: '/admin/secciones/detalle_seccion'


	=link_to principal_profesor_index_path, class: 'btn btn-sm btn-outline-secondary' do
		= glyph 'chevron-left'
		Regresar
	-if true #@seccion.calificada
		=link_to descargar_notas_seccion_path(@seccion.id), class: "btn btn-outline-success pull-right btn-sm ml-2" do
			= glyph 'download'
			Descargar notas
