.border.p-3
	- @back = session[:administrador_id] ? principal_admin_index_path : principal_profesor_index_path 
	=link_to @back, class: 'btn btn-sm btn-outline-secondary' do
		= glyph 'chevron-left'
		Regresar

	%table.table.table-sm.table-hover.table-bordered.table-responsive-md.mt-3
		%thead
			%tr
				%th Asignatura
				%th Profesor
				%th Tipo de Calificación
				%th Tipo de Sección
				%th Id
				%th U. Créditos
		%tbody
			%tr
				%td= link_to_if (current_admin and current_admin.altos?), "#{@seccion.asignatura.descripcion_pci @seccion.periodo_id}", @seccion.asignatura
				%td
					- if @seccion.profesor
						= link_to_if (current_admin and current_admin.altos?), "#{@seccion.descripcion_profesor_asignado}", @seccion.profesor.usuario
					- else
						= @seccion.descripcion_profesor_asignado
				%td= "#{@seccion.asignatura.calificacion.titleize}"
				%td= "#{@seccion.tipo_seccion.descripcion.titleize}"
				%td= "#{@seccion.numero}"
				%td= "#{@seccion.asignatura.creditos}"
	-if @seccion.calificada
		= link_to acta_examen_excel_descargar_path(@seccion.id), class: 'btn btn-sm btn-outline-success float-right mr-md-2 mb-md-2', role: :button do
			= glyph 'download-alt'
			= glyph 'file'
			Descargar Acta de Notas (Excel)


	= link_to listado_seccion_excel_descargar_path(@seccion.id), class: "mr-md-2 btn btn-sm btn-outline-success ml-md-2 float-right" do
		= glyph 'download-alt'
		= glyph 'list'
		X
		Descargar Listado (Excel)

	= link_to listado_seccion_descargar_path(@seccion.id), class: "btn btn-sm btn-outline-info float-right ml-md-2 mb-md-2" do
		= glyph 'download-alt'
		= glyph 'list'
		Descargar Listado
	= link_to notas_seccion_descargar_path(@seccion.id), class: 'btn btn-sm btn-outline-info float-right', role: :button, target: "_blank" do
		= glyph 'download-alt'
		= glyph 'file'
		Descargar Acta de Notas (Pdf)


	= render '/admin/secciones/detalle_seccion'
	=link_to @back, class: 'btn btn-sm btn-outline-secondary mt-1' do
		= glyph 'chevron-left'
		Regresar

