.border.p-3
	- @back = session[:administrador_id] ? principal_admin_index_path : principal_profesor_index_path 
	=link_to @back, class: 'btn btn-sm btn-outline-secondary' do
		= glyph 'chevron-left'
		Regresar

	= render '/admin/secciones/tabla_descripcion'

	-if @seccion.calificada
		= link_to acta_examen_excel_descargar_path(@seccion.id), class: 'btn btn-sm btn-outline-success float-right mr-md-2 mb-md-2', role: :button do
			= glyph 'download-alt'
			= glyph 'file'
			Descargar Acta de Notas (Excel)


	= link_to listado_seccion_excel_descargar_path(@seccion.id), class: "mr-md-2 btn btn-sm btn-outline-success ml-md-2 float-right" do
		= glyph 'download-alt'
		= glyph 'list'
		X
		Descargar Listado (Excel)

	= link_to listado_seccion_descargar_path(@seccion.id), class: "btn btn-sm btn-outline-info float-right ml-md-2 mb-md-2" do
		= glyph 'download-alt'
		= glyph 'list'
		Descargar Listado
	= link_to notas_seccion_descargar_path(@seccion.id), class: 'btn btn-sm btn-outline-info float-right', role: :button, target: "_blank" do
		= glyph 'download-alt'
		= glyph 'file'
		Descargar Acta de Notas (Pdf)


	= render '/admin/secciones/detalle_seccion'
	=link_to @back, class: 'btn btn-sm btn-outline-secondary mt-1' do
		= glyph 'chevron-left'
		Regresar

