.border.p-3
	- if params[:back] and params[:back].eql? 'inscripcion' and params[:ci]
		- @back = seleccionar_inscripcionseccion_path(params[:ci])
	- else
		- @back = session[:administrador_id] ? index2_secciones_path : principal_profesor_index_path 
	
	= btn_atras @back

	= render '/admin/secciones/tabla_descripcion'
	= render '/admin/secciones/opciones_descarga'
	= render '/admin/secciones/modal_form' if current_admin
	- if current_admin and current_admin.maestros?
		%nav
			.nav.nav-tabs
				= link_to 'Datalle Sección', "#seccion", "data-toggle": :tab, class: "nav-item nav-link active show"
				= link_to 'Bitácora', "#bitacora", "data-toggle": :tab, class: "nav-item nav-link"
			.tab-content
				.tab-pane#seccion.active.show
					- if current_admin and current_admin.maestros? and @seccion.inscripciones.any?
						.float-right= btn_toggle 'btn-danger', 'trash', delete_all_inscripcions_seccion_path(@seccion), 'Eliminar Todas las Inscripciones', "#{glyph 'education'}", data: {confimation: 'Esta acción es irreversible. ¿Está completamente seguro?'}
					.border.mt-3.p-3= render '/admin/secciones/detalle_seccion'
				.tab-pane#bitacora

					.text-center.titulo De la Sección:
					= render '/admin/bitacoras/index'
		
	- else
		%br	
		= render '/admin/secciones/detalle_seccion'
	%br
	= btn_atras @back

