.border.p-3
	- @back = session[:administrador_id] ? principal_admin_index_path : principal_profesor_index_path 
	
	= btn_atras @back

	= render '/admin/secciones/tabla_descripcion'
	= render '/admin/secciones/opciones_descarga'
	= render '/admin/secciones/detalle_seccion'
	%br
	= btn_atras @back

