- if session[:usuario_ci]
  %li.nav-item.nav-link.dropdown.text-right
    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      = current_usuario.nombres
    .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
      = link_to 'Datos Personales', edit_usuario_path(session[:usuario_ci]), class: 'dropdown-item nav-item'
      .dropdown-divider
      = link_to 'Cerrar Sessión', visitors_cerrar_sesion_path, class: 'dropdown-item nav-link'
- else
  = button_to '¿Olvidaste tu contraseña?', visitors_olvido_clave_path, class: 'btn btn-sm btn-outline-warning mr-2'
  = form_tag(visitors_validar_path, class: 'form-inline my-2 my-lg-0' ) do
    = text_field_tag 'usuario[ci]', nil, {class: 'form-control mr-sm-2', placeholder: 'Cédula de Identidad'}
    = password_field_tag 'usuario[password]', nil, {class: 'form-control mr-sm-2', placeholder: 'Contraseña'}
    = button_tag 'Ingresar', class: 'btn btn-outline-info my-2 my-sm-0'
