- if session[:usuario]
  %li.nav-item.nav-link.dropdown.text-right
    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      .mr-5.text-info.text-capitalize.font-italic= current_user.name
    .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
      = link_to 'Datos Personales', edit_user_registration_path, class: 'dropdown-item nav-item'
      .dropdown-divider
      = link_to 'Cerrar Sessión', destroy_user_session_path, :method=>'delete', class: 'dropdown-item nav-link'
- else
  = button_to '¿Olvidaste tu contraseña?', "#", class: 'btn btn-sm btn-outline-warning mr-2'
  = form_tag("#", class: 'form-inline my-2 my-lg-0' ) do
    = text_field_tag 'user[ci]', nil, {class: 'form-control mr-sm-2', placeholder: 'Cédula de Identidad'}
    = password_field_tag 'user[password]', nil, {class: 'form-control mr-sm-2', placeholder: 'Contraseña'}
    = button_tag 'Ingresar', class: 'btn btn-outline-info my-2 my-sm-0'
