- main_path = root_path
- main_path = principal_admin_index_path if session[:administrador_id]
- main_path = principal_index_path if session[:estudiante_id]
- main_path = principal_profesor_index_path if session[:profesor_id]

.container.fixed-top 
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    %a.navbar-brand{:href => main_path} COES-FHE
    %button.navbar-toggler{"aria-controls" => "navbarMain", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarMain", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarMain.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => "#"} Contáctanos

      -if current_usuario.admin? and (current_usuario.administrador.super? or current_usuario.administrador.jefe_departamento?)

        %li.nav-item.nav-link.dropdown
          %a.dropdown-toggle#usuarioDropdown{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Usuarios
          .dropdown-menu{"aria-labelledby" => "usuarioDropdown"}
            = link_to 'Registrar Profesor', {controller: 'usuarios', action: 'new', profesor: true}, class: 'dropdown-item nav-item'
            = link_to 'Registrar Estudiante', {controller: 'usuarios', action: 'new', estudiante: true}, class: 'dropdown-item nav-item'
            = link_to 'Registrar Administrador', {controller: 'usuarios', action: 'new', administrador: true}, class: 'dropdown-item nav-item'

      %ul.navbar-nav
        %li= link_to "Inscribir Estudiante", buscar_estudiante_inscripcionsecciones_path, class: 'btn btn-success pull-right btn-sm'
      = render 'layouts/nav_session_options' 


      /usuarios/new?administrador=true