!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : 'Coesapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Coesapp'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
    = favicon_link_tag 'logo.ico'
    = render 'layouts/nojavascript'

  %body
    %header
      .container.fixed-top 
        -# @noticias = Comentario.recientes.publicos
        = render 'layouts/noticias'
        = render 'layouts/visitors_nav'
    %main{:role => "main"}
      - if Rails.root.to_s.include? 'coes_dev'
        %nav.navbar.navbar-expand-lg.navbar-dark.bg-danger.justify-content-center
          %h5 AMBIENTE DE PRUEBAS
      = render 'layouts/messages'
      = yield

    %br
    %br

